<template>
  <div>
    <el-form-item label="区域筛选">
      <el-col :span="6">
        <el-form-item>
          <el-select v-model="provinceValue" disabled filterable placeholder="请选择省" @change="selectProvince">
            <el-option
              v-for="item in provinces"
              :key="item.index"
              :label="item.areaname"
              :value="item.areaid">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="6">
        <el-form-item>
          <el-select v-model="cityValue" disabled filterable placeholder="请选择市" @change="selectCity">
            <el-option
              v-for="item in citys"
              :key="item.index"
              :label="item.areaname"
              :value="item.areaid">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="6">
        <el-form-item>
          <el-select v-model="areaValue" filterable placeholder="请选择区" @change="selectArea">
            <el-option
              v-for="item in areas"
              :key="item.index"
              :label="item.areaname"
              :value="item.areaid">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
    </el-form-item>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
export default {
  props: {
    province: {
      default: 0
    },
    city: {
      default: 0
    },
    area: {
      default: 0
    },
  },
  data () {
    return {
      provinces: [],
      citys: [],
      areas: [],
      provinceValue: 0,
      cityValue: 0,
      areaValue: 0
    }
  },
  watch: {
    
  },
  computed: {
    
  },
  created () {
    this.provinceList();
    this.cityList();
    this.areasList();
  },
  mounted () {
    
  },
  beforeDestroy () {
    
  },
  methods: {
    selectProvince () {
      this.$emit('handleAddress', {
        city: '',
        province: this.provinceValue,
        area: '',
      })
      this.cityValue = '';
      this.areaValue = '';
      this.areas = [];
      this.cityList();
    },
    selectCity () {
      this.$emit('handleAddress', {
        city: this.cityValue,
        province: this.provinceValue,
        area: '',
      })
      this.areaValue = '';
      this.areasList();
    },
    selectArea () {
       this.$emit('handleAddress', {
        city: this.cityValue,
        province: this.provinceValue,
        area: this.areaValue,
      })
    },
    provinceList() {
      //省列表
      http.post("/areas/getlist.do", {})
        .then((result) => {
          if (result.status === 1) {
            this.provinces = result.data;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch((error) => {
          this.$message.error(error);
        });
    },
    cityList() {
      //市列表
      http.post("/areas/selectbyparentid.do", {
        parentid: this.provinceValue
      }).then((result) => {
        if (result.status === 1) {
          this.citys = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch((error) => {
        this.$message.error(error);
      });
    },
    areasList() {
      //区列表
      http.post("/areas/selectbyparentid.do", {
        parentid: this.cityValue
      }).then((result) => {
          if (result.status === 1) {
            this.areas = result.data;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch((error) => {
          this.$message.error(error);
        });
    }
  }
    
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
</style>
