<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-08-20 00:26:49
 * @LastEditTime: 2019-08-30 09:44:22
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="header">
    <div class="logo">{{uulogin.logoName}}</div>
    <div class="header-right">
      <div class="header-user-con">
        <!-- 用户头像 -->
        <div class="user-avator">
          <img src="~@/assets/images/img.jpg">
        </div>
        <!-- 用户名下拉菜单 -->
        <el-dropdown class="user-name" trigger="click" @command="handleCommand">
          <span class="el-dropdown-link">
            {{uulogin.name}}
            <i class="el-icon-caret-bottom"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item command="editPassword">修改密码</el-dropdown-item>
            <el-dropdown-item divided command="shiftPassword" v-show="false">转移超管</el-dropdown-item>
            <el-dropdown-item divided command="loginout">退出登录</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </div>
    <el-dialog title="修改密码" :visible.sync="dialogFormVisible" width="30%" @close="closeFormDialog('form')">
      <el-form :model="form" ref="form" label-width="100px" :rules="rules">
        <el-form-item label="登录账号" prop="phone">
          <el-input v-model="form.phone" placeholder="请输入登录账号" autocomplete="off" readonly :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="原密码" prop="oldpassWord">
          <el-input v-model="form.oldpassWord" type="password" placeholder="请输入原密码" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="新密码" prop="newpassWord">
          <el-input v-model="form.newpassWord" type="password" placeholder="请输入新密码" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="确认密码" prop="renewpassWord">
          <el-input v-model="form.renewpassWord" type="password" placeholder="请输入确认密码" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveForm('form')">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="转移超管" :visible.sync="dialogCgVisible" width="30%" @close="closeFormDialog('cgform')">
      <el-form :model="cgform" ref="cgform" label-width="100px" :rules="cgrules">
        <el-form-item label="登录账号" prop="oldphone">
          <el-input v-model="cgform.oldphone" placeholder="请输入登录账号" autocomplete="off" readonly :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="转移账号" prop="phone">
          <el-input v-model="cgform.phone" placeholder="请输入转移者账号" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogCgVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveCgForm('cgform')">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import { mapState } from "vuex";
import http from '@/axios/http';
export default {
  data() {
    return {
      dialogFormVisible: false,
      dialogCgVisible: false,
      form: {
        phone: '',
        oldpassWord: '',
        newpassWord: '',
        renewpassWord: ''
      },
      rules: {
        phone: [
          { required: true, message: "登录账号不能为空", trigger: "blur" }
        ],
        oldpassWord: [
          { required: true, message: "原密码不能为空", trigger: "blur" }
        ],
        newpassWord: [
          { required: true, message: "新密码不能为空", trigger: "change" }
        ],
        renewpassWord: [
          { required: true, message: "确实密码不能为空", trigger: "change" }
        ]
      },
      cgform: {
        phone: '',
        oldphone: ''
      },
      cgrules: {
        phone: [
          { required: true, message: "转移者账号不能为空", trigger: "blur" }
        ]
      }
    };
  },
  computed: {
    ...mapState([
      'uulogin'
    ])
  },
  created () {
    this.form.phone = this.uulogin.account;
    this.cgform.oldphone = this.uulogin.account;
  },
  methods: {
    saveCgForm (formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          const regPhone = /^1\d{10}$/;
          if (!regPhone.test(this.cgform.phone)) {
            this.$message.warning('手机号码无效');
            return
          }
          http.post('/userInfo/ChangeManage.do', {
              phone: this.cgform.phone,
              userId: this.uulogin.id
            })
            .then(result => {
              if (result.status === 1) {
                this.$message.success(result.msg)
                this.dialogCgVisible = false;
              } else {
                this.$message.warning(result.msg)
              }
            })
            .catch(error => {
              this.$message.error(error)
            });
        }
      });
    },
    saveForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          let reg = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$/;
          if (!reg.test(this.form.newpassWord)) {
            this.$message.warning('密码为6-12位数字和字母组合');
            return
          }
          if (this.form.newpassWord !== this.form.renewpassWord) {
            this.$message.warning('新密码和确认密码不一致');
            return
          }
          http.post('/merchant/restpwd.do', {
              account: this.form.phone,
              oldpwd: this.form.oldpassWord,
              newpwd: this.form.newpassWord
            })
            .then(result => {
              if (result.status === 1) {
                this.$message.success(result.msg)
                this.dialogFormVisible = false;
                window.sessionStorage.removeItem("hlrjlogin");
                this.$router.push("/login");
              } else {
                this.$message.warning(result.msg);
              }
            })
            .catch(error => {
              this.$message.warning(error);
            });
        }
      });
    },
    closeFormDialog (formName) {
      this.$refs[formName].resetFields();
    },
    // 用户名下拉菜单选择事件
    handleCommand(command) {
      if (command == "loginout") {
        http.post('/merchant/loginout.do')
          .then((result) => {
            if (result.status === 1) {
              const uulogin = {
                name: '',
                account: '',
                id: 0,
                type: 0,
                logoName: '',
                province: '',
                city: '',
                area: ''
              }
              this.$store.commit({
                type: 'uulogin',
                data: uulogin
              })
              sessionStorage.removeItem("hlrjlogin");
              this.$router.push("/login");
            }
          })
      } else if (command == "editPassword") {
        this.dialogFormVisible = true;
      } else if (command == "shiftPassword") {
        this.dialogCgVisible = true;
      }
    }
  },
  mounted() {

  }
};
</script>
<style scoped lang="scss">
.header {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  background-color: #242f42
}
.collapse-btn {
  float: left;
  padding: 0 21px;
  cursor: pointer;
  line-height: 70px;
}
.header .logo {
  float: left;
  width: 400px;
  line-height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 22px;
  color: #fff;
  margin-left: 40px;
}
.header-right {
  float: right;
  padding-right: 50px;
}
.header-user-con {
  display: flex;
  height: 70px;
  align-items: center;
}
.btn-fullscreen {
  transform: rotate(45deg);
  margin-right: 5px;
  font-size: 24px;
}
.btn-bell,
.btn-fullscreen {
  position: relative;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
}
.btn-bell-badge {
  position: absolute;
  right: 0;
  top: -2px;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: #f56c6c;
  color: #fff;
}
.btn-bell .el-icon-bell {
  color: #fff;
}
.user-name {
  margin-left: 10px;
}
.user-avator {
  margin-left: 20px;
}
.user-avator img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.el-dropdown-link {
  color: #fff;
  cursor: pointer;
}
.el-dropdown-menu__item {
  text-align: center;
}
</style>
