.page {
  width: 100%;
  box-sizing: border-box;
  .page-title {
    margin-bottom: 20px;
  }
  .title-tag {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    letter-spacing: 2px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .tag-span {
      display: block;
      height: 30px;
      font-size: 18px;
      color: #409eff;

      &.span-icon {
        width: 30px;

        i {
          font-size: 20px;
          color: red;
        }
      }
    }

  }
  .crumbs {
    margin: 10px 0;
    .el-breadcrumb {
      font-size: 14px;
    }
    .crumbs-i-right {
      margin-right: 10px;
    }
  }
  .container-form {
    width: 100%;
    padding: 20px 0;
  }
  .container-table {
    width: 100%;
    .table-ul {
      width: 100%;

      &::after {
        content: '';
        clear: both;
        width: 0;
        height: 0;
        display: block;
      }

      .table-li {
        height: 56px;
        padding: 10px;
        width: 100px;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #ebeef5;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #303133;
        transition: all 0.3s;
        position: relative;

        &:hover {
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
        }

        &.table-li-active {
          background: #409EFF;
          border: 1px solid #409EFF;
          color: #fff;

          &:hover {
            box-shadow: none;
          }
        }

        .li-span {
          line-height: 16px;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          -webkit-line-clamp: 2; //行数
          -webkit-box-orient: vertical;
          text-align: center;
        }

        &:last-child {
          line-height: 44px;
          text-align: center;

          &:hover {
            box-shadow: none;
          }

          .add-icon {
            font-size: 20px;
          }
        }

        &.table-li-last {
          border-color: #409EFF;

          .add-icon {
            color: #409EFF;
          }
        }
      }
    }
  }

  .input-width {
    width: 190px;
  }

  .ql-container {
    min-height: 300px;
  }

  .nopass-icon {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 0;
    top: 0;
    z-index: 1;

    i {
      font-size: 20px;
      color: red;
    }
  }

  .color-err {
    color: red;
  }

  .color-suc {
    color: #67C23A;
  }

  .color-default {
    color: #909399;
  }

  .images-warn {
    display: flex;

    p {
      margin: 0 5px;
      color: #F56C6C;
    }
  }
  .preview-video {
    width: 720px;
    min-height: 400px;
    margin: 20px auto;
    overflow: hidden;
  }
  // check
  .image-ul {
    display: flex;
    flex-wrap: wrap;
    .image-li {
      width: 84px;
      height: 84px;
      cursor: pointer;
      margin-right: 15px;
      margin-bottom: 15px;
      border: 1px dotted #E4E7ED;
      box-sizing: border-box;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .table-pagination {
    margin-top: 30px;
  }

  .red {
    color: red;
  }
  
  .check-result {
    margin: 40px 0 20px;

    h1 {
      text-align: center;
      line-height: 20px;
      margin-bottom: 10px;

      i {
        font-size: 30px;
      }
    }

    p {
      line-height: 30px;
      text-align: center;
      letter-spacing: 2px;
    }

    &.result-suc {
      h1 {
        color: #67C23A;
      }

      p {
        color: #67C23A;
      }
    }

    &.result-err {
      h1 {
        color: #F56C6C;
      }

      p {
        color: #F56C6C;
      }
    }
  }
}