<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-30 23:05:41
 * @LastEditTime: 2019-08-27 15:37:22
 * @LastEditors: Please set LastEditors
 -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>订单打印</title>
	<link rel="stylesheet" href="css/base.css" type="text/css" media="screen,print" />
	<link rel="stylesheet" href="css/base.css" />
	<link rel="stylesheet" href="css/index.css" type="text/css" media="screen,print"/>
	<link rel="stylesheet" href="css/index.css"/>
	<!-- jQuery -->
	<script src="js/jquery/jquery.min.js"></script>
	<!-- jQuery.print -->
	<script src="js/jQuery.print.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
	<div class="print-btn" onclick="$('#app').print()">打印</div>
	<div class="wrapper" id="app">
		<div class="header">
			<div class="header-logo">
				<img :src="result.merchantlogo" alt="">
			</div>
			<div class="header-conetent">订单号：{{result.ordernum}}</div>
		</div>
		<h2 class="header-title">{{result.merchantname}}婚礼订单</h2>
		<div class="module-box">
			<div class="module-title">婚礼新人基本信息</div>
			<div class="module-content">
				<ul class="content-ul">
					<li class="content-li content-li-row-2">
						<span class="li-title">新郎姓名:</span>
						<div class="li-content">{{result.groomname}}</div>
					</li>
					<li class="content-li content-li-row-2">
						<span class="li-title">新郎手机:</span>
						<div class="li-content">{{result.groomaccout}}</div>
					</li>
				</ul>
				<ul class="content-ul">
					<li class="content-li">
						<span class="li-title">新郎地址:</span>
						<div class="li-content">{{result.groomaddress}}</div>
					</li>
				</ul>
				<ul class="content-ul">
					<li class="content-li">
						<span class="li-title">新娘姓名:</span>
						<div class="li-content">{{result.bridename}}</div>
					</li>
					<li class="content-li">
						<span class="li-title">新娘手机:</span>
						<div class="li-content">{{result.brideaccount}}</div>
					</li>
				</ul>
				<ul class="content-ul">
					<li class="content-li">
						<span class="li-title">新娘地址:</span>
						<div class="li-content">{{result.brideaddress}}</div>
					</li>
				</ul>
				<ul class="content-ul">
					<li class="content-li">
						<span class="li-title">新人婚期:</span>
						<div class="li-content">{{orderweddingdate}}</div>
					</li>
					<li class="content-li">
						<span class="li-title">联系邮箱:</span>
						<div class="li-content">{{result.email}}</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- 方案 -->
		<div class="module-box">
			<div class="module-title">已购婚庆方案信息</div>
			<div class="module-content">
				<ul class="content-ul">
					<li class="content-li">
						<span class="li-title">方案名称:</span>
						<div class="li-content">{{result.demoname}}</div>
					</li>
				</ul>
				<ul class="content-ul">
					<li class="content-li">
						<span class="li-title">备注信息:</span>
						<div class="li-content">{{result.demoremark}}</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- 婚车 -->
		<div class="module-box">
			<div class="module-title">已购婚车信息</div>
			<div class="module-content">
				<ul class="content-ul">
					<li class="content-li content-li-width">
						<span class="li-title li-title-1">头车:</span>
						<div class="li-content">{{result.headbrandname}}</div>
					</li>
					<li class="content-li">
						<span class="li-title li-title-1">数量:</span>
						<div class="li-content">{{result.headmerchantvehiclenum}}</div>
					</li>
					<li class="content-li">
						<span class="li-title li-title-1">时段:</span>
						<div class="li-content">{{result.headcartime}}</div>
					</li>
					<li class="content-li">
						<span class="li-title li-title-1">颜色:</span>
						<div class="li-content">{{result.headcarcolor}}</div>
					</li>
				</ul>
				<ul class="content-ul">
					<li class="content-li content-li-width">
						<span class="li-title li-title-1">跟车:</span>
						<div class="li-content">{{result.tailbrandname}}</div>
					</li>
					<li class="content-li">
						<span class="li-title li-title-1">数量:</span>
						<div class="li-content">{{result.tailmerchantvehiclenum}}</div>
					</li>
					<li class="content-li">
						<span class="li-title li-title-1">时段:</span>
						<div class="li-content">{{result.tailcartime}}</div>
					</li>
					<li class="content-li">
						<span class="li-title li-title-1">颜色:</span>
						<div class="li-content">{{result.tailcarcolor}}</div>
					</li>
				</ul>
				<ul class="content-ul">
					<li class="content-li">
						<span class="li-title">备注信息:</span>
						<div class="li-content">{{result.vehicleremark}}</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- 司仪 -->
		<div class="module-box">
			<div class="module-title">已购司仪信息</div>
			<div class="module-content">
				<ul class="content-ul">
					<li class="content-li">
						<span class="li-title">司仪名字:</span>
						<div class="li-content">{{result.emceename}}</div>
					</li>
					<li class="content-li">
						<span class="li-title li-title-1">费用:</span>
						<div class="li-content">{{result.emceediscountmoney}}元</div>
					</li>
				</ul>
				<ul class="content-ul">
					<li class="content-li">
						<span class="li-title">备注信息:</span>
						<div class="li-content">{{result.emceeremark}}</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- 跟妆 -->
		<div class="module-box">
			<div class="module-title">已购跟妆信息</div>
			<div class="module-content">
				<ul class="content-ul">
					<li class="content-li">
						<span class="li-title">跟妆名字:</span>
						<div class="li-content">{{result.makeupname}}</div>
					</li>
					<li class="content-li">
						<span class="li-title li-title-1">费用:</span>
						<div class="li-content">{{result.makeupdiscountmoney}}元</div>
					</li>
				</ul>
				<ul class="content-ul">
					<li class="content-li">
						<span class="li-title">备注信息:</span>
						<div class="li-content">{{result.makeupremark}}</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- 摄影 -->
		<div class="module-box">
			<div class="module-title">已购摄影信息</div>
			<div class="module-content">
				<ul class="content-ul">
					<li class="content-li">
						<span class="li-title">摄影名字:</span>
						<div class="li-content">{{result.photographyname}}</div>
					</li>
					<li class="content-li">
						<span class="li-title">机位数量:</span>
						<div class="li-content">{{result.photographynum}}</div>
					</li>
					<li class="content-li">
						<span class="li-title">费用:</span>
						<div class="li-content">{{result.photographydiscountmoneytotal}}元</div>
					</li>
				</ul>
				<ul class="content-ul">
					<li class="content-li">
						<span class="li-title">备注信息:</span>
						<div class="li-content">{{result.photographyremark}}</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="result-box">
			<ul class="content-ul">
				<li class="content-li">
					<span class="li-title li-title-2">订单满减活动:</span>
					<div class="li-content">{{result.manjianname}}</div>
				</li>
				<li class="content-li">
					<span class="li-title li-title-2">订单折扣活动:</span>
					<div class="li-content">{{result.discountname}}</div>
				</li>
			</ul>
			<ul class="content-ul">
				<li class="content-li">
					<span class="li-title li-title-2">定单支付总价:</span>
					<div class="li-content">{{result.computedtotal}}元</div>
				</li>
			</ul>
		</div>
		<div class="footer">
			<div class="footer-left">
				<div class="footer-sign">
					<div class="sign-item">
						<span class="title">接单顾问:</span>
						<div class="name"></div>
					</div>
					<div class="sign-item">
						<span class="title">客户签名:</span>
						<div class="name"></div>
					</div>
				</div>
			</div>
			<div class="footer-right">
				<div class="contact-li">
					<span class="contact-li-title">店铺地址:</span>
					<span class="contact-li-content">{{result.merchantaddress}}</span>
				</div>
				<div class="contact-li">
					<span class="contact-li-title">固定电话:</span>
					<span class="contact-li-content">{{result.landline}}</span>
				</div>
				<div class="contact-li">
					<span class="contact-li-title">店长手机:</span>
					<span class="contact-li-content">{{result.merchantaccount}}</span>
				</div>
				<div class="contact-li">
					<span class="contact-li-title">联系QQ:</span>
					<span class="contact-li-content">{{result.merchantqq}}</span>
				</div>
				<div class="contact-li">
					<span class="contact-li-title">联系微信:</span>
					<span class="contact-li-content">{{result.merchantwx}}</span>
				</div>
			</div>
		</div>
	</div>
	<script>
		var app = new Vue({
			el: '#app',
			data () {
				return {
					result: {}
				}
			},
			computed: {
				orderweddingdate: function () {
					if (this.result.weddingdate) {
						var result = this.result.weddingdate.split('-');
						return result[0] + '年' + result[1] + '月' + result[2] + '日'
					}
					return ''
				}
			},
			created () {
				var id = this.getQueryString('id')
				if (id) {
					this.gotData(id)
				} else {
					alert('没有订单ID')
				}
			},
			mounted () {

			},
			methods: {
				getQueryString: function (name) {
					var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
					var search = window.location.search;
					var r = null;
					if (search) {
						r = search.substring(1).match(reg);
					}
					if (r != null) {
						return r[2];
					}
					return null;
				},
				gotData: function(id) {
					var that = this;
					$.ajax({
						url: '/order/print.do',
						method: 'POST',
						data: {
							id: id
						},
						dataType: 'json',
						success: function (result) {
							if (result.status === 1) {
                var data = result.data;
                var actuatablesl = data.actuatablesl ? data.actuatablesl : ''
                var emceediscountmoney = data.emceediscountmoney ? data.emceediscountmoney : ''
                var headmerchantvehiclenum = data.headmerchantvehiclenum ? data.headmerchantvehiclenum : ''
                var makeupdiscountmoney = data.makeupdiscountmoney ? data.makeupdiscountmoney : ''
                var menudiscountmoney = data.menudiscountmoney ? data.menudiscountmoney : ''
                var photographydiscountmoney = data.photographydiscountmoney ? data.photographydiscountmoney : ''
                var photographydiscountmoneytotal = data.photographydiscountmoneytotal ? data.photographydiscountmoneytotal : ''
                var photographynum  = data.photographynum ? data.photographynum : ''
                var sparetables = data.sparetables ? data.sparetables : ''
                var tailmerchantvehiclenum = data.tailmerchantvehiclenum ? data.tailmerchantvehiclenum : ''
								that.result = {
                  ...data,
                  actuatablesl: actuatablesl,
                  emceediscountmoney: emceediscountmoney,
                  headmerchantvehiclenum: headmerchantvehiclenum,
                  makeupdiscountmoney: makeupdiscountmoney,
                  menudiscountmoney: menudiscountmoney,
                  photographydiscountmoney: photographydiscountmoney,
                  photographydiscountmoneytotal: photographydiscountmoneytotal,
                  photographynum: photographynum,
                  sparetables: sparetables,
                  tailmerchantvehiclenum: tailmerchantvehiclenum
                }
							} else {
								alert(result.msg)
							}
						},
						error: function () {
							alert('网络不稳定，请重试')
						}
					})
				}
			}
		})
	</script>
</body>
</html>
