﻿@charset "utf-8";

/*!
 * @名称：base.css
 * @功能：1、重设浏览器默认样式
 *       2、设置通用原子类
 */
html {
    background: white;
    color: black
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0;
    color: #666
}

input,
select,
textarea {
    font-size: 100%
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

th {
    text-align: inherit
}

fieldset,
img {
    border: none
}

iframe {
    display: block
}

abbr,
acronym {
    border: none;
    font-variant: normal
}

del {
    text-decoration: line-through
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-style: normal;
    font-weight: 500
}

ol,
ul {
    list-style: none
}

caption,
th {
    text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 500
}

q:before,
q:after {
    content: ''
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

ins,
a {
    color: #666;
    text-decoration: none
}

a:focus,
*:focus {
    outline: none
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table
}

.clearfix:after {
    clear: both;
    overflow: hidden
}

.clearfix {
    zoom: 1
}

.hide {
    display: none
}

.block {
    display: block
}

.fl,
.rt,
.lt,
.fr {
    display: inline
}

.fl,
.lt {
    float: left
}

.rt,
.fr {
    float: right
}

.img-w100 {
    display: block;
    width: 100%
}

.img-w100>img {
    display: block;
    width: 100%
}

.img-auto>img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

a {
    color: #666;
    -webkit-transition: color .4s ease;
    -moz-transition: color .4s ease;
    -ms-transition: color .4s ease;
    -o-transition: color .4s ease;
    transition: color .4s ease
}

a:hover {
    color: #dc1414
}

i {
    position: relative;
    display: inline-block;
    font-style: normal
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #b2b2b2
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #b2b2b2
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #b2b2b2
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #b2b2b2
}

.textEllipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.textEllipsis2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    box-orient: vertical
}

.textEllipsis3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    box-orient: vertical
}

.betweenTMLR {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}

@keyframes animationTop {
    0% {
        transform: translateY(100%);
        opacity: 0
    }

    100% {
        transform: translateY(0);
        opacity: 1
    }
}

@-moz-keyframes animationTop {
    0% {
        -moz-transform: translateY(100%);
        opacity: 0
    }

    100% {
        -moz-transform: translateY(0);
        opacity: 1
    }
}

@-webkit-keyframes animationTop {
    0% {
        -webkit-transform: translateY(100%);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0);
        opacity: 1
    }
}

@-ms-keyframes animationTop {
    0% {
        -ms-transform: translateY(100%);
        opacity: 0
    }

    100% {
        -ms-transform: translateY(0);
        opacity: 1
    }
}

@keyframes animationBottom {
    0% {
        transform: translateY(-100%);
        opacity: 0
    }

    100% {
        transform: translateY(0);
        opacity: 1
    }
}

@-moz-keyframes animationBottom {
    0% {
        -moz-transform: translateY(-100%);
        opacity: 0
    }

    100% {
        -moz-transform: translateY(0);
        opacity: 1
    }
}

@-webkit-keyframes animationBottom {
    0% {
        -webkit-transform: translateY(-100%);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0);
        opacity: 1
    }
}

@-ms-keyframes animationBottom {
    0% {
        -ms-transform: translateY(-100%);
        opacity: 0
    }

    100% {
        -ms-transform: translateY(0);
        opacity: 1
    }
}

@keyframes animationLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0
    }

    100% {
        transform: translateX(0);
        opacity: 1
    }
}

@-moz-keyframes animationLeft {
    0% {
        -moz-transform: translateX(-100%);
        opacity: 0
    }

    100% {
        -moz-transform: translateX(0);
        opacity: 1
    }
}

@-webkit-keyframes animationLeft {
    0% {
        -webkit-transform: translateX(-100%);
        opacity: 0
    }

    100% {
        -webkit-transform: translateX(0);
        opacity: 1
    }
}

@-ms-keyframes animationLeft {
    0% {
        -ms-transform: translateX(-100%);
        opacity: 0
    }

    100% {
        -ms-transform: translateX(0);
        opacity: 1
    }
}

@keyframes animationRight {
    0% {
        transform: translateX(100%);
        opacity: 0
    }

    100% {
        transform: translateX(0);
        opacity: 1
    }
}

@-moz-keyframes animationRight {
    0% {
        -moz-transform: translateX(100%);
        opacity: 0
    }

    100% {
        -moz-transform: translateX(0);
        opacity: 1
    }
}

@-webkit-keyframes animationRight {
    0% {
        -webkit-transform: translateX(100%);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0);
        opacity: 1
    }
}

@-ms-keyframes animationRight {
    0% {
        -ms-transform: translateX(100%);
        opacity: 0
    }

    100% {
        -ms-transform: translateX(0);
        opacity: 1
    }
}

@keyframes scale-three {
    0% {
        transform: scale(1);
        opacity: .8
    }

    100% {
        transform: scale(1.5);
        opacity: 0
    }
}

@-moz-keyframes scale-three {
    0% {
        transform: scale(1);
        opacity: .8
    }

    100% {
        transform: scale(1.5);
        opacity: 0
    }
}

@-webkit-keyframes scale-three {
    0% {
        transform: scale(1);
        opacity: .8
    }

    100% {
        transform: scale(1.5);
        opacity: 0
    }
}

@-ms-keyframes scale-three {
    0% {
        transform: scale(1);
        opacity: .8
    }

    100% {
        transform: scale(1.5);
        opacity: 0
    }
}

@keyframes up-down {
    0% {
        transform: translate(0, 0)
    }

    50% {
        transform: translate(0, -10px)
    }

    100% {
        transform: translate(0, 0)
    }
}

@-moz-keyframes up-down {
    0% {
        transform: translate(0, 0)
    }

    50% {
        transform: translate(0, -10px)
    }

    100% {
        transform: translate(0, 0)
    }
}

@-webkit-keyframes up-down {
    0% {
        transform: translate(0, 0)
    }

    50% {
        transform: translate(0, -10px)
    }

    100% {
        transform: translate(0, 0)
    }
}

@-ms-keyframes up-down {
    0% {
        transform: translate(0, 0)
    }

    50% {
        transform: translate(0, -10px)
    }

    100% {
        transform: translate(0, 0)
    }
}

.w1200 {
    width: 1200px;
    margin-left: auto;
    margin-right: auto
}

body,
button,
input,
select,
textarea {
    font: 12px 'Microsoft YaHei', arial, sans-serif
}

.min-w1200 {
    min-width: 1200px
}

.Triangle::after {
    content: "";
    display: inline-block;
    position: relative;
    border: 5px solid transparent;
    border-top-color: #666;
    -webkit-transform: translate(20%, 25%);
    -moz-transform: translate(20%, 25%);
    -ms-transform: translate(20%, 25%);
    -o-transform: translate(20%, 25%);
    transform: translate(20%, 25%)
}

.hr-y {
    width: 0;
    height: 2px;
    background-color: #dc1414;
    position: relative;
    top: 0;
    left: 50%;
    z-index: 10;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: width .5s ease;
    -moz-transition: width .5s ease;
    -ms-transition: width .5s ease;
    -o-transition: width .5s ease;
    transition: width .5s ease
}

.hr-box:hover>.hr-y {
    width: 60px
}

#l_msg {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 20%;
    min-width: 180px;
    max-width: 300px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 99999;
    display: none;
    padding: 10px 0
}

#l_msg p {
    font-size: 18px;
    color: #fff
}

.s1190 .w1200 {
    width: 990px;
    margin-left: auto;
    margin-right: auto
}

.s1190 body,
.s1190 button,
.s1190 input,
.s1190 select,
.s1190 textarea {
    font: 9.9px 'Microsoft YaHei', arial, sans-serif
}

.s1190 .min-w1200 {
    min-width: 990px
}

.s1190 .Triangle::after {
    content: "";
    display: inline-block;
    position: relative;
    border: 4.125px solid transparent;
    border-top-color: #666;
    -webkit-transform: translate(20%, 25%);
    -moz-transform: translate(20%, 25%);
    -ms-transform: translate(20%, 25%);
    -o-transform: translate(20%, 25%);
    transform: translate(20%, 25%)
}

.s1190 .hr-y {
    width: 0;
    height: 1.65px;
    background-color: #dc1414;
    position: relative;
    top: 0;
    left: 50%;
    z-index: 10;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: width .5s ease;
    -moz-transition: width .5s ease;
    -ms-transition: width .5s ease;
    -o-transition: width .5s ease;
    transition: width .5s ease
}

.s1190 .hr-box:hover>.hr-y {
    width: 49.5px
}

.s1190 #l_msg {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 20%;
    min-width: 148.5px;
    max-width: 247.5px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    -webkit-border-radius: 4.125px;
    -ms-border-radius: 4.125px;
    -o-border-radius: 4.125px;
    -moz-border-radius: 4.125px;
    border-radius: 4.125px;
    z-index: 99999;
    display: none;
    padding: 12.375px 8.25px
}

.s1190 #l_msg p {
    font-size: 18.15px;
    color: #fff
}

.img100>img {
    width: 100%
}