<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-08-20 00:26:49
 * @LastEditTime: 2019-08-22 15:47:59
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="regist-page">
    <a target="_blank" href="javascript:;" class="logo">
      <img src="~@/assets/images/uu_logo_home.png" style="width:185px;height:54px;" alt="">
    </a>
    <div class="content">
      <h2 class="content-title">找回密码</h2>
      <ul class="input-ul">
        <li class="input-li">
          <input type="text" v-model="formdata.account" maxlength="11" name="account" placeholder="请输入您的手机号"/>
          <img src="~@/assets/images/phone_icon.png" alt="" class="input-icon">
        </li>
        <li class="input-li">
          <input type="password" v-model="formdata.pwd" name="pwd" placeholder="密码长度为6-16个字符，区分大小写，空格无效"/>
          <img src="~@/assets/images/password_icon.png" alt="" class="input-icon">
        </li>
        <li class="input-li input-li-check">
          <ul class="check-pwd-ul">
            <li :class="{level1: pwdIndex >= 1}">弱</li>
            <li :class="{level2: pwdIndex >= 2}">中</li>
            <li :class="{level2: pwdIndex >= 3}">强</li>
          </ul>
        </li>
        <li class="input-li input-li-top">
          <input type="password" v-model="formdata.repwd" name="repwd" placeholder="确认密码"/>
          <img src="~@/assets/images/password_icon.png" alt="" class="input-icon">
        </li>
        <li class="input-li input-li-code">
          <input class="input-code" v-model="formdata.code" name="code" placeholder="请输入您的验证码"/>
          <button
            class="yzm"
            :disabled="disableCode"
            @click="getCode"
            :class="{'yzm-active': !this.disableCode}"
          >
            {{changeName}}
          </button>
        </li>
        <li class="input-li input-li-submit">
          <button class="btn" :disabled="disableSubmit" @click="submitForm">确 定</button>
        </li>
      </ul>
      <div class="regist-link">
        <router-link to="/login">快速登录</router-link>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
export default {
  data () {
    return {
      formdata: {
        account: '',
        pwd: '',
        repwd: '',
        code: ''
      },
      disableCode: true,
      codeCount: 60,
      codeTimer: null,
      changeName: '免费获取验证码',
      pwdIndex: 0,
      disableSubmit: false,
      registtype: 2,
    }
  },
  watch: {
    "formdata.account" (val, old) {
      if (!/^1\d{10}$/.test(val)) {
        if (val.length > 11) {
          this.formdata.account = this.formdata.account.substring(0, 11);
        } else {
          this.formdata.code = '';
        }
        this.disableCode = true;
      } else {
        this.disableCode = false;
      }
    },
    "formdata.pwd" (val, old) {
      const reg=/^[0-9]{6,16}$|^[a-zA-Z]{6,16}$/;
      const reg1=/^[A-Za-z0-9]{6,16}$/;
      const reg2=/^\w{6,16}$/;
      if (reg.test(val)) {
        this.pwdIndex = 1;
      } else if (reg1.test(val)) {
        this.pwdIndex = 2;
      } else if (reg2.test(val)) {
        this.pwdIndex = 3;
      }
    }
  },
  computed: {},
  mounted () {},
  beforeDestroy () {
    clearInterval(this.codeTimer);
  },
  methods: {
    getCode () {
      //获取验证码
      http.post('/sms/sendsms.do', {
        phone: this.formdata.account
      }).then((result) => {
        if(parseInt(result.status) === 1) {
          //获取验证码成功
          //验证码倒计时
          this.countDown();
          this.$message.success(result.msg);
        } else {
          //获取验证码失败
          this.$message.warning(result.msg);
        }
      }).catch((error)=> {
        this.$message.error(error);
      });
    },
    countDown () {
      this.disableCode = true;
      this.changeName = '已获取'+this.codeCount+'s';
      clearInterval(this.codeTimer);
      this.codeTimer = setInterval(() => {
        this.codeCount--;
        this.changeName = '已获取'+this.codeCount+'s';
        if (this.codeCount <= 0) {
          this.resetCode();
        }
      },1000)
    },
    resetCode () {
      clearInterval(this.codeTimer);
      this.codeCount = 60;
      this.changeName = '免费获取验证码';
      this.disableCode = false;
    },
    submitForm (index) {
      const account = this.formdata.account;
      const pwd = this.formdata.pwd;
      const repwd = this.formdata.repwd;
      const code = this.formdata.code;

      if (!/^1\d{10}$/.test(account)) {
        this.$message.warning('手机号为11位');
      } else if (pwd.length > 16 || pwd.length < 6) {
        this.$message.warning('密码长度为6-16个字符');
      } else if (pwd !== repwd) {
        this.$message.warning('两次密码不一致');
      } else if (!code) {
        this.$message.warning('请输入验证码');
      } else {
        const params = {
          account: account,
          pwd: pwd,
          code: code
        }
        this.disableSubmit = true;
        this.resetCode();
        this.submitData(params);
      }
    },
    submitData (params) {
      http.post('/hotel/forgetpwd.do', params)
      .then((result) => {
        if (result.status === 1) {
          this.$message.success(result.msg);
          this.$router.push('/login');
        } else {
          this.$message.warning(result.msg);
        }
      }).catch((error) => {
        this.$message.error(error);
      })
      this.disableSubmit = false;
    }
  },
  components: {

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.regist-page {
  background-image: url(~@/assets/images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo {
    width:185px;
    height:54px;
    display: block;
    position: absolute;
    left: 50px;
    top: 50px;
    img {
      width:185px;
      height:54px;
      display: block;
    }
  }
  .content {
    width: 500px;
    padding: 20px 0;
    background: #ebeef5;
    text-align: center;
    .content-title {
      font-weight: 700;
      font-size: 20px;
      height: 40px;
      line-height: 40px;
      color: #000;
      letter-spacing: 2px;
    }
    ul.input-ul {
      width: 430px;
      margin: 0 auto;
      li.input-li {
        height: 45px;
        position: relative;
        margin-top: 15px;
        input {
          width: 380px;
          height: 45px;
          line-height: 45px;
          padding: 0 0 0 50px;
          color: #333;
          border: 1px solid #ddd;
        }
        .input-icon {
          position: absolute;
          top: 50%;
          left: 15px;
          width: 24px;
          margin-top: -12px;
          height: 24px;
        }
      }
      li.input-li-check {
        margin-top: 0px;
        height: 36px;
        .check-pwd-ul {
          text-align: center;
          padding: 10px;
          display: flex;
          margin: 0 auto;
          width: 430px;
          box-sizing: border-box;
          justify-content: space-between;
          li {
            width: 132px;
            padding: 0 62px;
            background: #c8c8c8;
            color: #fff;
            box-sizing: border-box;
            &.level1 {
              background-color: #fea8a8 !important
            }
            &.level2 {
              background-color: #ff6464 !important
            }
            &.level3 {
              background-color: #F00 !important
            }
          }
        }
      }
      li.input-li-top {
        margin-top: 5px;
      }
      li.input-li-code {
        display: flex;
        padding-left: 0;
        .input-code {
          width: 260px;
          height: 45px;
          line-height: 43px;
          color: #333;
          border: 1px solid #ddd;
          padding-left: 10px;
          box-sizing: border-box;
        }
        .yzm {
          width: 160px;
          height: 45px;
          line-height: 45px;
          background: #c8c8c8;
          margin-left: 10px;
          font-size: 13px;
          letter-spacing: 1px;
          border: 0;
            color: #fff;
            cursor: pointer;
          &:hover {
            background: #c8c8c8;
          }
          &.yzm-active {
            background: #fd4825;
            &:hover {
              background: #dc0000;
            }
          }
        }
      }
      li.input-li-submit {
        margin-top: 30px;
        .btn {
          font-size: 20px;
          width: 433px;
          height: 45px;
          line-height: 45px;
          background: linear-gradient(260deg,#fd4825,#dc0000);
          border: 0;
          color: #fff;
          cursor: pointer;
          border-radius: 5px;
          &:hover {
            background: linear-gradient(92deg,#fd4825,#dc0000);
          }
        }
      }
      li.input-li-type {
        margin-top: 20px;
        height: 20px;
        .el-radio-group {
          .el-radio__input.is-checked .el-radio__inner {
            background: #fd4825;
            border-color: #fd4825;
          }
          .el-radio__input.is-checked+.el-radio__label {
            color: #fd4825;
          }
        }

      }
    }
    .regist-link {
      width: 500px;
      height: 30px;
      line-height: 30px;
      margin: 0 auto;
      padding-top: 20px;
      text-align: center;
      a {
        font-size: 14px;
        color: #333;
        &:hover {
          color: #fd4825;
        }
      }
    }
  }
}
</style>
