<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-08-20 00:26:49
 * @LastEditTime: 2019-08-26 14:53:53
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="error-page">
    <div class="error-code">4
      <span>0</span>4
    </div>
    <div class="error-desc" v-show="uulogin.backupstatus !== 3">您的商户基本信息正在审核中...紧急请联系平台工作人员</div>
    <div class="error-desc" v-show="uulogin.backupstatus === 3">您的商户基本信息被驳回...请联系平台工作人员</div>
    <div class="error-handle">
      <el-button type="primary" size="large" @click="goBack">返 回</el-button>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import http from '@/axios/http'
export default {
  data() {
    return {
      data: ""
    };
  },
  computed: {
    ...mapState([
      'uulogin'
    ])
  },
  created() {},
  methods: {
    goBack() {
      this.$router.push('/merchant')
    }
  }
};
</script>


<style scoped>
.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #f3f3f3;
  box-sizing: border-box;
  margin-top: 50px;
}
.error-code {
  line-height: 1;
  font-size: 250px;
  font-weight: bolder;
  color: #2d8cf0;
}
.error-code span {
  color: #00a854;
}
.error-desc {
  font-size: 30px;
  color: #777;
}
.error-handle {
  margin-top: 30px;
  padding-bottom: 200px;
}
.error-btn {
  margin-left: 100px;
}

</style>
