.wrapper {
  width: 800px;
  margin: 20px auto;
}
.header {
  height: 40px;
  overflow: hidden;
  margin-bottom: 15px;
}
.header-logo {
  float: left;
  width: 20px;
}
.header-logo img {
  display: block;
  width: 100px;
}
.header-conetent {
  float: right;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #333;
  font-weight: 700;
}
.header-title {
  width: 100%;
  text-align: center;
  height: 30px;
  line-height: 30px;
  font-size: 22px;
  color: #333;
  font-weight: 700;
  margin-bottom: 15px;
}
.module-box {
  border-left: 1px solid #ff809d;
  border-right: 1px solid #ff809d;
  border-bottom: 1px solid #ff809d;
}
.module-title {
  padding: 0 30px;
  height: 30px;
  line-height: 30px;
  background: #ff809d!important;
  color: #fff;
}
@media print {
  .module-title {
    padding: 0 30px;
    height: 30px;
    line-height: 30px;
    background: #ff809d !important;
    -webkit-print-color-adjust: exact;
    color: #fff;
  }
}
.module-content {
  padding: 10px 30px;
}
.content-ul {
  display: flex;
  margin-bottom: 5px;
}
.content-li {
  display: flex;
  height: 20px;
  font-size: 13px;
  flex: 1
}
.content-li-width {
  flex: 1.5;
}
.content-li .li-title {
  display: block;
  width: 80px;
  height: 20px;
  line-height: 20px;
  color: #666;
}
.content-li .li-title-1 {
  width: 40px;
}
.content-li .li-title-2 {
  width: 100px;
}
.content-li .li-content {
  height: 20px;
  line-height: 20px;
  flex: 1;
  color: #333;
}
.result-box {
  margin-top: 10px;
  border: 1px solid #ff809d;
  -webkit-print-color-adjust: exact;
  padding: 5px 30px;
}
.footer {
  margin-top: 10px;
  display: flex;
  padding: 0 30px;
}
.footer-left {
  flex: 1;
}
.footer-sign {
  height: 30px;
  display: flex;
}
.sign-item {
  flex: 1;
  height: 30px;
  display: flex;
}
.sign-item .title {
  width: 80px;
  height: 30px;
  line-height: 30px;
}
.sign-item .name {
  flex: 1;
  height: 30px;
  line-height: 30px;
}
.footer-right {
  width: 440px;
}
.contact-li {
  display: flex;
  height: 20px;
  font-size: 13px;
}
.contact-li-title {
  width: 60px;
  height: 20px;
  line-height: 20px;
}
.contact-li-content {
  flex: 1;
  height: 20px;
  line-height: 20px;
}
.print-btn {
  width: 100px;
  height: 38px;
  line-height: 38px;
  background: #ff809d;
  font-size: 18px;
  text-align: center;
  position: fixed;
  left: 50px;
  top: 50px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
