<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-08-20 00:26:49
 * @LastEditTime: 2019-08-24 22:10:09
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div></div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
import {Decrypt, Encrypt} from '@/assets/js/secret'
export default {
  data () {
    return {

    }
  },
  watch: {

  },
  computed: {},
  mounted () {
    //秘钥：md5rsajm
    // 加密后的字符：93D62CB3915BF6D3ABFC5700CF5AD0220C7A8E9CD464B5DF
    //解密后的字符：{a: 1, b: 2}
    let json = {a: 1, b: 2}
    let encryptvalue = Encrypt(json);
    //console.log(encryptvalue)
    let decryptvalue = Decrypt(encryptvalue)
    //console.log(JSON.parse(decryptvalue).a)
    //console.log(typeof decryptvalue)
    http.post('/sms/testjiami.do')
    .then((str) => {
      const result = Decrypt(str)
      //console.log(result)
      //console.log(typeof result)
    })
  },
  beforeDestroy () {

  },
  methods: {

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
</style>
