<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-08-20 00:26:49
 * @LastEditTime: 2019-08-26 09:54:36
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="error-page">
    <div class="error-code">4
      <span>0</span>4
    </div>
    <div class="error-desc">啊哦~ 你所访问的页面不存在</div>
    <div class="error-handle">
      <el-button type="primary" size="large" @click="goBack">返 回</el-button>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import http from '@/axios/http'
export default {
  data() {
    return {
      data: ""
    };
  },
  computed: {

  },
  created() {},
  methods: {
    goBack() {
      http.post('/merchant/loginout.do')
      .then((result) => {
        if (result.status === 1) {
          const uulogin = {
            name: '',
            account: '',
            id: 0,
            type: 0,
            logoName: '',
            province: '',
            city: '',
            area: ''
          }
          this.$store.commit({
            type: 'uulogin',
            data: uulogin
          })
          sessionStorage.removeItem("hlrjlogin");
          this.$router.push("/");
        }
      })
    }
  }
};
</script>


<style scoped>
.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #f3f3f3;
  box-sizing: border-box;
}
.error-code {
  line-height: 1;
  font-size: 250px;
  font-weight: bolder;
  color: #2d8cf0;
}
.error-code span {
  color: #00a854;
}
.error-desc {
  font-size: 30px;
  color: #777;
}
.error-handle {
  margin-top: 30px;
  padding-bottom: 200px;
}
.error-btn {
  margin-left: 100px;
}

</style>
