<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-30 23:05:41
 * @LastEditTime: 2019-08-30 10:23:58
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
import http from '@/axios/http'
import { mapState, mapGetters} from 'vuex'
export default {
  name: 'App',
  data() {
    return {

    }
  },
  computed: {
    ...mapState([])
  },
  created () {

  },
  mounted () {},
  methods: {

  },
  components: {

  }
}
</script>

<style lang="scss">
#app {}
</style>
