<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-30 23:05:41
 * @LastEditTime: 2019-08-30 10:55:03
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="page">
    <el-card shadow="always" class="page-title">
      <div class="title-tag">
        <div class="tag-span">婚庆商户基本信息</div>
      </div>
    </el-card>
    <el-card shadow="always" class="page-title">
      <div class="container-form">
        <el-form ref="form" :model="form" :rules="rules" label-width="120px">
          <el-row>
            <el-col :span="24">
              <el-form-item label="商户名称" prop="merchantname">
                <el-input v-model="form.merchantname" placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="负责人员" prop="contacts">
                <el-input v-model="form.contacts" placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="手机号码" prop="account">
                <el-input v-model="form.account" disabled placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="固定电话" prop="landline">
                <el-input v-model="form.landline" placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="联系QQ" prop="qq">
                <el-input v-model="form.qq" placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="联系微信" prop="wx">
                <el-input v-model="form.wx" placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="联系邮箱" prop="email">
                <el-input v-model="form.email" placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="所属省份" required>
                <el-select v-model="form.province" filterable placeholder="请选择省" @change="selectProvince" style="width: 100%">
                  <el-option
                    v-for="item in provinces"
                    :key="item.index"
                    :label="item.areaname"
                    :value="item.areaid">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="所属城市" required>
                <el-select v-model="form.city" filterable placeholder="请选择市" @change="selectCity" style="width: 100%">
                  <el-option
                    v-for="item in citys"
                    :key="item.index"
                    :label="item.areaname"
                    :value="item.areaid">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="所属区域" required>
                <el-select v-model="form.area" filterable placeholder="请选择区" style="width: 100%">
                  <el-option
                    v-for="item in areas"
                    :key="item.index"
                    :label="item.areaname"
                    :value="item.areaid">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="商户地址" prop="address">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.address"
                  maxlength="200"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="商店logo" required>
                <UpImage :path="form.logo" @upImage="logoImage" ></UpImage>
                <div class="images-warn">
                  <p>图片尺寸比例：1:1</p>
                </div>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-row>
                <el-col :span="12">
                  <el-form-item label="门店照片" required>
                    <UpImage :path="form.merchantimage" @upImage="photoImage" ></UpImage>
                    <div class="images-warn">
                      <p>图片尺寸比例：2:1</p>
                    </div>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-button type="success" @click="catExample(mdImage)">查看示例</el-button>
                </el-col>
              </el-row>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-row>
                <el-col :span="12">
                  <el-form-item label="经营执照" required>
                    <UpImage :path="form.businesslicense" @upImage="manageImage" ></UpImage>
                    <div class="images-warn">
                      <p>图片尺寸比例：2:1</p>
                    </div>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-button type="success" @click="catExample(jyzzImage)">查看示例</el-button>
                </el-col>
              </el-row>
            </el-col>
            <el-col :span="12">
              <el-row>
                <el-col :span="12">
                  <el-form-item label="店主持证" required>
                    <UpImage :path="form.idkimage" @upImage="peopleImage" ></UpImage>
                    <div class="images-warn">
                      <p>图片尺寸比例：2:1</p>
                    </div>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-button type="success" @click="catExample(dzczImage)">查看示例</el-button>
                </el-col>
              </el-row>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24" style="text-align: center">
              <el-button type="primary" @click="confirmEidt('form')" v-show="form.updateicon">确认修改</el-button>
              <el-button type="info" v-show="!form.updateicon" disabled>正在审核中...</el-button>
              <el-button type="danger" @click="resetForm">重置</el-button>
            </el-col>
          </el-row>
        </el-form>
      </div>
    </el-card>
    <!-- 编辑提示框 -->
    <el-dialog title="提示" :visible.sync="editVisible" width="30%" center>
      <div class="del-dialog-cnt" style="text-align: center">是否确定要进行编辑修改？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveEdit('form')">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog title="示例" :visible.sync="imageVisible" width="80%">
       <div class="tips-image" style="text-align: center">
         <img :src="tipsimage" alt=""/>
       </div>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
import UpImage from '@/components/common/Upload/upSingleImage.vue'
export default {
  data () {
    let regPhone = /^1\d{10}$/;
    let validatePhone = (rule, value, callback) => {
      if (!regPhone.test(value)) {
        callback(new Error('手机号码不合法'));
      } else {
        callback();
      }
    };
    let regTel = /^([0-9]{3,4}-)?[0-9]{7,8}$/;
    let validateTel = (rule, value, callback) => {
      if (value) {
        if (!regTel.test(value)) {
          callback(new Error('固定号码不合法'));
        } else {
          callback();
        }
      } else {
        callback();
        //callback(new Error('不能为空'));
      }
    };
    let validateNum = (rule, value, callback) => {
      if (value) {
        if (!/\d/.test(value)) {
          callback(new Error('输入不合法'));
        } else {
          callback();
        }
      } else {
        callback(new Error('不能为空'));
      }
    };
    return {
      editVisible: false,
      form: {
        merchantname: '',
        contacts: '',
        account: '',
        landline: '',
        qq: '',
        wx: '',
        email: '',
        address: '',
        province: '',
        city: '',
        area: '',
        merchantimage: '',
        logo: '',
        businesslicense: '',
        idkimage: '',
        merchanttype: 0,
        backupstatus: 0,
        updateicon: true
      },
      rules: {
        merchantname: [{ required: true, message: "不能为空", trigger: "blur" }],
        contacts: [{ required: true, message: "不能为空", trigger: "blur" }],
        account: [{ validator: validatePhone, required: true,  trigger: "blur" }],
        landline: [{ validator: validateTel, required: true,  trigger: "blur" }],
        address: [{ required: true, message: "不能为空", trigger: "blur" }]
      },
      provinces: [],
      citys: [],
      areas: [],
      imageVisible: false,
      tipsimage: '',
      dzczImage: 'http://platform.hunlirenjia.com/shiliimage/dianzhuchizhao.png',
      mdImage: 'http://platform.hunlirenjia.com/shiliimage/mendian.png',
      jyzzImage: 'http://platform.hunlirenjia.com/shiliimage/jingyingzhizhao.png'
    }
  },
  watch: {

  },
  computed: {
    ...mapState([
      'uulogin'
    ])
  },
  components: {
    UpImage
  },
  created () {
    this.provinceList();
    this.submitData()
  },
  mounted () {},
  beforeDestroy () {},
  methods: {
    catExample (img) {
      this.imageVisible = true;
      this.tipsimage = img;
    },
    submitData () {
      http.post("/merchant/info.do", {
        id: this.uulogin.id
      }).then((result) => {
        console.log(result)
        if (result.status === 1) {
          const data = result.data;
          if (data.province === 0) {
            data.province = '';
            data.city = '';
            data.area = '';
            data.merchanttype = '';
            data.longitude = '';
            data.latitude = '';
          }
          this.form = data;
          if (data.backupstatus !== 0) {
            this.cityList();
            this.areasList();
          }
          let value = {
            type: this.uulogin.type,
            id: data.id,
            name: this.uulogin.name,
            account: data.account,
            province: data.province,
            city: data.city,
            area: data.area,
            backupstatus: data.backupstatus
          }

          sessionStorage.setItem('hlrjlogin', JSON.stringify(value))
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    confirmEidt (formName) {
      if (this.form.backupstatus === 2) {
        this.editVisible = true;
      } else {
        this.saveEdit(formName);
      }
    },
    saveEdit(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (!this.form.logo) {
            this.$message.warning('logo图片不能为空');
            return
          }
          if (!this.form.merchantimage) {
            this.$message.warning('店铺图片不能为空');
            return
          }
          if (!this.form.businesslicense) {
            this.$message.warning('经营执照图片不能为空');
            return
          }
          if (!this.form.idkimage) {
            this.$message.warning('店主持证图片不能为空');
            return
          }
         http.post("/merchant/updatemerchant.do", {
           id: this.form.id,
           merchantname: this.form.merchantname,
           account: this.form.account,
           province: this.form.province,
           city: this.form.city,
           area: this.form.area,
           contacts: this.form.contacts,
           landline: this.form.landline,
           qq: this.form.qq,
           wx: this.form.wx,
           email: this.form.email,
           address: this.form.address,
           merchantimage: this.form.merchantimage,
           logo: this.form.logo,
           businesslicense: this.form.businesslicense,
           idkimage: this.form.idkimage
         })
          .then((result) => {
            if (result.status === 1) {
              this.$message.success(result.msg)
              setTimeout(() => {
                this.submitData();
              },20)
              this.editVisible = false;
            } else {
              this.$message.warning(result.msg);
            }
          })
          .catch(error => {
            this.$message.error(error);
          });
        }
      });
    },
    resetForm () {
      this.$refs.form.resetFields();
      this.form = {
        merchantname: '',
        contacts: '',
        account: '',
        landline: '',
        qq: '',
        wx: '',
        email: '',
        address: '',
        province: '',
        city: '',
        area: '',
        merchantimage: '',
        logo: '',
        businesslicense: '',
        idkimage: '',
        merchanttype: 0,
        backupstatus: 0,
        updateicon: true
      },
      this.submitData();
    },
    logoImage (value) {
      this.form.logo = value;
    },
    manageImage (value) {
      this.form.businesslicense = value;
    },
    peopleImage (value) {
      this.form.idkimage = value;
    },
    photoImage (value) {
      this.form.merchantimage = value;
    },
    selectProvince () {
      this.cityList();
      this.form.city = "";
      this.form.area = "";
      this.areas = [];
    },
    selectCity () {
      this.areasList();
      this.form.area = "";
    },
    provinceList() {
      //省列表
      http.post("/areas/getlist.do")
        .then((result) => {

          if (result.status === 1) {
            this.provinces = result.data;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch((error) => {
          this.$message.error(error);
        });
    },
    cityList() {
      //市列表
      http.post("/areas/selectbyparentid.do", {
        id: this.form.province
      }).then((result) => {
        if (result.status === 1) {
          this.citys = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch((error) => {
        this.$message.error(error);
      });
    },
    areasList() {
      //区列表
      http.post("/areas/selectbyparentid.do", {
        id: this.form.city
      }).then((result) => {
          if (result.status === 1) {
            this.areas = result.data;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch((error) => {
          this.$message.error(error);
        });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import '../Home/index.scss'
</style>
