<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-30 23:05:41
 * @LastEditTime: 2019-08-26 19:25:50
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="page">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-s-data crumbs-i-right"></i>数据列表
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-table">
        <ul class="table-ul">
          <li class="table-li"
            v-for="(item, index) in tableData" :key="index"
            :class="{'table-li-active': current === index}"
            @click="handleEdit(index, item)"
          >
            <span class="li-span">{{item.name}}</span>
          </li>
          <li class="table-li" :class="{'table-li-last': current === -100}" @click="handleAdd">
            <i class="el-icon-plus add-icon"></i>
          </li>
        </ul>
      </div>
    </el-card>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <span v-if="current === -100 "><i class="el-icon-s-unfold crumbs-i-right"></i>新增案例</span>
          <span v-else><i class="el-icon-s-unfold crumbs-i-right"></i>案例信息</span>
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-form">
        <el-form ref="form" :model="form" label-width="120px" :rules="rules">
          <el-row>
            <el-col :span="12">
              <el-form-item label="案例名称" prop="name">
                <el-input type="text" v-model="form.name" placeholder="请输入" maxlength="10" show-word-limit>
                </el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="案例日期" prop="demotime">
                <el-date-picker
                  v-model="form.demotime"
                  type="date"
                  placeholder="选择日期"
                  style="width: 100%"
                  value-format="yyyy-MM-dd"
                >
                </el-date-picker>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="案例标签" prop="labelid">
                <el-select v-model="form.labelid" filterable placeholder="请选择" style="width: 100%">
                  <el-option
                    v-for="(item, index) in labelList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="案例酒店地址" prop="address">
                <el-input
                  type="textarea"
                  :rows="3"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.address"
                  maxlength="200"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="案例描述" prop="introduction">
                <el-input
                  type="textarea"
                  :rows="3"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.introduction"
                  maxlength="200"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="6">
              <el-form-item label="案例视频" required>
                <UpVideo :path="form.demomv" @upVideo="demoVideo" @previewVideo="previewVideo"></UpVideo>
                <div class="images-warn">
                  <p>视频大小不超过50M</p>
                </div>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="案例图片" required>
                <UpImages :fileList="form.pcpath" @upImages="gotPcpath"></UpImages>
                <div class="images-warn">
                  <p>图片建议张数：6张；图片建议比例：2:1</p>
                </div>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row v-if="current === -100">
            <el-col :span="24" style="text-align: center">
              <el-button type="primary" @click="saveAdd('form')">确认新增</el-button>
              <el-button type="danger" @click="resetForm">重 置</el-button>
            </el-col>
          </el-row>
          <el-row v-else>
            <el-col :span="24" style="text-align: center">
              <el-button type="primary" @click="confirmEidt">确认修改</el-button>
              <el-button type="danger" @click="handleDel">删除数据</el-button>
            </el-col>
          </el-row>
        </el-form>
      </div>
    </el-card>
    <!-- 编辑提示框 -->
    <el-dialog title="提示" :visible.sync="editVisible" width="30%" center>
      <div class="del-dialog-cnt" style="text-align: center">是否确定要进行编辑修改？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveEdit('form')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 删除提示框 -->
    <el-dialog title="提示" :visible.sync="delVisible" width="30%" center>
      <div class="del-dialog-cnt" style="text-align: center">删除不可恢复，是否确定删除？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="delVisible = false">取 消</el-button>
        <el-button type="primary" @click="deleteRow">确 定</el-button>
      </span>
    </el-dialog>
     <!-- 播放视频 -->
    <el-dialog :visible.sync="videoVisible">
      <div v-show="!checkvideo">您的浏览器不支持video播放</div>
      <video :src="mvpath" class="preview-video" controls controlslist="nodownload" loop id="myvideo"></video>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import UpImages from '@/components/common/Upload/upListImage.vue'
import UpVideo from '@/components/common/Upload/upSingleVideo.vue'
import http from '@/axios/http'
export default {
  data () {
    return {
      tableData: [],
      current: -100,
      total: 0,
      page: 1,
      limit: 10,
      rowData: {},
      delVisible: false,
      editVisible: false,
      paramform: {
        name: '',
        demomv: '',
        introduction: '',
        address: '',
        pcpath: [],
        province: '',
        city: '',
        area: '',
        demotime: '',
        labelid: ''
      },
      form: {
        name: '',
        demomv: '',
        introduction: '',
        address: '',
        pcpath: [],
        province: '',
        city: '',
        area: '',
        demotime: '',
        labelid: ''
      },
      rules: {
        name: [{ required: true, message: "不能为空", trigger: "blur" }],
        introduction: [{ required: true, message: "不能为空", trigger: "blur" }],
        address: [{ required: true, message: "不能为空", trigger: "blur" }],
        demotime: [{ required: true, message: "不能为空", trigger: "change" }],
        labelid: [{ required: true, message: "不能为空", trigger: "change" }]
      },
      mvpath: '',
      checkvideo: true,
      videoVisible: false,
      labelList: []
    }
  },
  watch: {

  },
  computed: {
    ...mapState([
      'uulogin'
    ])
  },
  created () {
    this.form.province = this.paramform.province = this.uulogin.province;
    this.form.city = this.paramform.city = this.uulogin.city;
    this.form.area = this.paramform.area = this.uulogin.area;
    this.lableData();
    this.submitData();
  },
  mounted () {
    this.$nextTick(() => {
      //判断是否支持video
      if (!!document.createElement('video').canPlayType) {
        this.checkvideo = true;
      } else {
        this.checkvideo = false;
      }
    })
  },
  beforeDestroy () {},
  components: {
    UpImages,
    UpVideo
  },
  methods: {
    submitData() {
      http.post("/merchant/listdemo.do", {
        id: this.uulogin.id
      }).then((result) => {
        if (result.status === 1) {
          this.tableData = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    resetForm () {
      this.current = -100;
      this.$refs.form.resetFields();
      this.form = {
        ...this.paramform,
        demomv: '',
        pcpath: []
      }
    },
    handleAdd () {
      this.resetForm()
    },
    saveAdd(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (!this.form.demomv) {
            this.$message.warning('案例视频不能为空');
            return
          }
          if (!this.form.pcpath.length) {
            this.$message.warning('案例图片不能为空');
            return
          }
          let labelid = 0
          if (this.form.labelid === '') {
            labelid = 0
          } else {
            labelid = this.form.labelid
          }
          let param = {
            labelid: labelid,
            name:  this.form.name,
            demomv:  this.form.demomv,
            introduction:  this.form.introduction,
            address:  this.form.address,
            province:  this.form.province,
            city: this.form.city,
            area:  this.form.area,
            demotime: this.form.demotime,
            pcpathjson: JSON.stringify(this.form.pcpath),
            merchantid: this.uulogin.id
          }
         http.post("/merchant/adddemo.do", param)
         .then((result) => {
              if (result.status === 1) {
                this.$message.success(result.msg);
                setTimeout(() => {
                  this.submitData();
                  this.resetForm();
                }, 20)
              } else {
                this.$message.warning(result.msg);
              }
            })
            .catch(error => {
              this.$message.error(error);
            });
        }
      });
    },
    handleEdit(index, row) {
      this.current = index;
      this.$refs.form.resetFields();
      http.post("/merchant/demoinfo.do", {
        id: row.id
      }).then((result) => {
        if (result.status === 1) {
          let data = result.data;
          if (data.labelid) {
            this.form = data;
          } else {
            this.form = {
              ...data,
              labelid: 0
            };
          }
          this.rowData = data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    confirmEidt () {
      this.editVisible = true;
    },
    saveEdit(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (!this.form.demomv) {
            this.$message.warning('案例视频不能为空');
            return
          }
          if (!this.form.pcpath.length) {
            this.$message.warning('案例图片不能为空');
            return
          }
          let labelid = 0
          if (this.form.labelid === '') {
            labelid = 0
          } else {
            labelid = this.form.labelid
          }
          let param = {
            id: this.form.id,
            name:  this.form.name,
            demomv:  this.form.demomv,
            introduction:  this.form.introduction,
            address:  this.form.address,
            province:  this.form.province,
            city: this.form.city,
            area:  this.form.area,
            demotime: this.form.demotime,
            pcpathjson: JSON.stringify(this.form.pcpath),
            labelid: labelid
          }
         http.post("/merchant/updatedemo.do", param)
         .then((result) => {
            if (result.status === 1) {
              this.$message.success(result.msg);
              setTimeout(() => {
                this.submitData();
                this.resetForm();
              }, 20);
              this.editVisible = false;
            } else {
              this.$message.warning(result.msg);
            }
          })
          .catch(error => {
            this.$message.error(error);
          });
        }
      });
    },
    handleDel() {
      this.delVisible = true;
    },
    deleteRow() {
      http.post("/merchant/deldemo.do", {
        id: this.rowData.id
      }).then((result) => {
        if (result.status === 1) {
          this.$message.success(result.msg);
          setTimeout(() => {
            this.submitData();
            this.resetForm();
          }, 20);
          this.delVisible = false;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    demoVideo (value) {
      this.form.demomv = value;
    },
    gotPcpath (value) {
      this.form.pcpath = value;
    },
    previewVideo (value) {
      this.videoVisible = true;
      this.mvpath = value;
      this.$nextTick(() => {
        document.getElementById('myvideo').load();
        document.getElementById('myvideo').play();
      })
    },
    lableData () {
      //设计师
      http.post("/type/labeltype.do", {
        type: 2
      }).then((result) => {
        if (result.status === 1) {
          this.labelList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '../Home/index.scss'
</style>
