<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-08-20 00:26:49
 * @LastEditTime: 2019-08-26 10:30:07
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="page">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-s-data crumbs-i-right"></i>数据列表
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card class="box-card">
      <ul class="type-ul">
        <li class="type-li"
          :class="{'type-li-active': typeIndex === index}"
          v-for="(item, index) in activityList" :key="index"
          @click="selectType(index, item)"
        >
          {{item.name}}
        </li>
      </ul>
      <div class="container-table" style="margin-top: 20px;">
        <ul class="table-ul">
          <li class="table-li"
            v-for="(item, index) in tableData" :key="index"
            :class="{'table-li-active': current === index}"
            @click="handleEdit(index, item)"
          >
            <span class="li-span">{{item.name}}</span>
            <!-- <span class="nopass-icon" v-show="item.backupstatus !== 2">
              <i class="el-icon-warning"></i>
            </span> -->
          </li>
          <li class="table-li" :class="{'table-li-last': current === -100}" @click="handleAdd">
            <i class="el-icon-plus add-icon"></i>
          </li>
        </ul>
      </div>
    </el-card>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <span v-if="current === -100"><i class="el-icon-s-unfold crumbs-i-right"></i>新增活动</span>
          <span v-else><i class="el-icon-s-unfold crumbs-i-right"></i>活动信息</span>
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-form" style="min-height: 440px">
        <el-form ref="form" :model="form" label-width="100px" :rules="rules">
          <el-row>
            <el-col :span="12">
              <el-form-item label="活动名称" prop="name">
                <el-input v-model="form.name" placeholder="请输入" clearable>
                </el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="状态" prop="status">
                <el-radio v-model="form.status" :label="1">开启</el-radio>
                <el-radio v-model="form.status" :label="0">禁用</el-radio>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row v-if="form.type === 1">
            <el-col :span="12">
              <el-form-item label="满足金额" prop="summoney">
                <el-input v-model="form.summoney" clearable placeholder="请输入" ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="减去金额" prop="discountmoney">
                <el-input v-model="form.discountmoney" clearable placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row v-else>
            <el-col :span="12">
              <el-form-item label="折扣数" prop="foldingnumber">
                <el-input v-model="form.foldingnumber" clearable placeholder="请输入例如9折输入9"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row v-if="current === -100">
            <el-col :span="24" style="text-align: center;margin-top: 50px;">
              <el-button type="primary" @click="saveAdd('form')">确认新增</el-button>
              <el-button type="danger" @click="resetForm">重置</el-button>
            </el-col>
          </el-row>
          <el-row v-else>
            <el-col :span="24" style="text-align: center;margin-top: 50px;">
              <el-button type="primary" @click="confirmEidt">确认修改</el-button>
              <el-button type="danger" @click="handleDel">删除数据</el-button>
            </el-col>
          </el-row>
        </el-form>
      </div>
    </el-card>
    <!-- 编辑提示框 -->
    <el-dialog title="提示" :visible.sync="editVisible" width="30%" center>
      <div class="del-dialog-cnt" style="text-align: center">是否确定要进行编辑修改？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveEdit('form')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 删除提示框 -->
    <el-dialog title="提示" :visible.sync="delVisible" width="30%" center>
      <div class="del-dialog-cnt" style="text-align: center">删除不可恢复，是否确定删除？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="delVisible = false">取 消</el-button>
        <el-button type="primary" @click="deleteRow">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
export default {
  data () {
    let validateNumber = (rule, value, callback) => {
      if (!value) {
        callback(new Error('不能为空'));
      } else {
        if (!/^[1-9][0-9]*$/.test(value)) {
          callback(new Error('输入不合法'));
        } else {
          callback();
        }
      }
    };
    let validateNum = (rule, value, callback) => {
      if (!value) {
        callback(new Error('不能为空'));
      } else {
        if (!/^([1-9](\.\d{1,2})?)|(0\.\d{1,2})$/.test(value)) {
          callback(new Error('输入不合法'));
        } else {
          callback();
        }
      }
    };
    return {
      tableData: [],
      typeIndex: 0,
      rowData: {},
      current: -100,
      delVisible: false,
      editVisible: false,
      form: {
        name: '',
        type: 1,
        summoney: '',
        discountmoney: '',
        foldingnumber: '',
        status: 1
      },
      rules: {
        name: [{ required: true, message: "不能为空", trigger: "blur" }],
        summoney: [{ validator: validateNumber, required: true,  trigger: "blur" }],
        discountmoney: [{ validator: validateNumber, required: true,  trigger: "blur" }],
        foldingnumber: [{ validator: validateNum, required: true,  trigger: "blur" }],
        status: [{ required: true, message: "不能为空", trigger: "change" }],
      },
       activityList: [{
        name: '满减活动',
        id:1,
      },{
        name: '折扣活动',
        id:2,
      }]
    }
  },
  watch: {

  },
  computed: {
    ...mapState([
      'uulogin'
    ])
  },
  created () {
    this.submitData();
  },
  mounted () {},
  beforeDestroy () {},
  components: {

  },
  methods: {
    selectType (index, item) {
      this.typeIndex = index;
      this.resetForm();
      this.form.type = item.id;
      this.submitData();
    },
    submitData() {
      http.post("/celebrationactivty/activtylist.do", {
        id: this.uulogin.id,
        type: this.form.type
      }).then((result) => {
        if (result.status === 1) {
          this.tableData = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    resetForm () {
      this.current = -100;
      this.$refs.form.resetFields();
      this.form = {
        name: '',
        summoney: '',
        discountmoney: '',
        foldingnumber: '',
        status: 1,
        type: this.form.type
      };
    },
    handleAdd () {
      this.resetForm();
    },
    saveAdd(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (this.form.type === 1 && (parseInt(this.form.summoney) < parseInt(this.form.discountmoney))) {
            this.$message.warning('满足金额不能小于赠送金额')
            return
          }
          let param = {
            ...this.form,
            merchantid: this.uulogin.id
          }
         http.post("/celebrationactivty/addactivty.do", param)
         .then((result) => {
              if (result.status === 1) {
                this.$message.success(result.msg);
                setTimeout(() => {
                  this.submitData();
                  this.resetForm();
                }, 20)
              } else {
                this.$message.warning(result.msg);
              }
            })
            .catch(error => {
              this.$message.error(error);
            });
        }
      });
    },
    handleEdit(index, row) {
      this.current = index;
      this.$refs.form.resetFields();
      http.post("/celebrationactivty/activtyinfo.do", {
        id: row.id
      }).then((result) => {
        if (result.status === 1) {
          let data = result.data;
          this.form = data;
          this.rowData = data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },

    confirmEidt () {
      this.editVisible = true;
    },
    saveEdit(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (this.form.type === 1 && (parseInt(this.form.summoney) < parseInt(this.form.discountmoney))) {
            this.$message.warning('满足金额不能小于赠送金额')
            return
          }
          let param = {
            id: this.form.id,
            name: this.form.name,
            type: this.form.type,
            summoney: this.form.summoney,
            discountmoney: this.form.discountmoney,
            foldingnumber: this.form.foldingnumber,
            status: this.form.status
          }
         http.post("/celebrationactivty/updateactivty.do", param)
         .then((result) => {
            if (result.status === 1) {
              this.$message.success(result.msg);
              setTimeout(() => {
                this.submitData();
                this.resetForm();
              }, 20);
              this.editVisible = false;
            } else {
              this.$message.warning(result.msg);
            }
          })
          .catch(error => {
            this.$message.error(error);
          });
        }
      });
    },
    handleDel() {
      this.delVisible = true;
    },
    deleteRow() {
      http.post("/celebrationactivty/delactivty.do", {
        id: this.rowData.id
      }).then((result) => {
        if (result.status === 1) {
          this.$message.success(result.msg);
          setTimeout(() => {
            this.submitData();
            this.resetForm();
          }, 20);
          this.delVisible = false;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '../Home/index.scss';
.box-card {
  margin-bottom: 20px;
  .type-ul {
    height: 50px;
    width: 100%;
    display: flex;
    .type-li {
      flex: 1;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background: #909399;
      color: #fff;
      letter-spacing: 2px;
      font-size: 16px;
      &.type-li-active {
        background: #409EFF;
      }
    }
  }
}
</style>
