<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-30 23:05:41
 * @LastEditTime: 2019-08-30 10:01:37
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="page">
    <el-card shadow="always" class="page-title">
      <div class="title-tag">
        <div class="tag-span">订单查看</div>
        <div class="back-btn-box">
          <el-button icon="el-icon-arrow-left" @click="handleBack">返回订单页</el-button>
        </div>
      </div>
    </el-card>
    <el-form ref="form" :model="form" label-width="120px">
      <!-- 客户信息 -->
      <el-card shadow="always" class="page-title">
        <div slot="header" class="container-header">
          客户信息
        </div>
        <div class="container-form">
          <el-row>
            <el-col :span="12">
              <el-form-item label="新郎姓名" prop="groomname">
                <el-input v-model="form.groomname"  placeholder="请输入" disabled></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="新郎电话" prop="groomaccout">
                <el-input v-model="form.groomaccout" placeholder="请输入" disabled></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="新郎地址" prop="groomaddress">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.groomaddress"
                  maxlength="200"
                  show-word-limit
                  disabled
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="新娘姓名" prop="bridename">
                <el-input v-model="form.bridename"  placeholder="请输入" disabled></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="新娘电话" prop="brideaccount">
                <el-input v-model="form.brideaccount" placeholder="请输入" disabled></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="新娘地址" prop="brideaddress">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.brideaddress"
                  maxlength="200"
                  show-word-limit
                  disabled
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="客户婚期" prop="orderweddingdate">
                <el-date-picker
                  v-model="form.orderweddingdate"
                  type="date"
                  placeholder="选择日期"
                  style="width: 100%"
                  format="yyyy 年 MM 月 dd 日"
                  value-format="yyyy-MM-dd"
                  :picker-options="pickerOptions"
                  disabled
                >
                </el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="联系邮箱" prop="email">
                <el-input v-model="form.email"  placeholder="请输入" disabled></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </div>
      </el-card>
      <!-- 婚庆信息 -->
      <el-card shadow="always" class="page-title">
        <div slot="header" class="container-header">
          婚庆信息
        </div>
        <div class="container-form">
          <el-row>
            <el-col :span="24">
              <el-form-item label="婚庆方案" prop="merchantdemoid">
                <el-select v-model="form.merchantdemoid" clearable placeholder="请选择" style="width: 100%" disabled>
                  <el-option
                    v-for="(item, index) in productList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="备注信息" prop="demoremark">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.demoremark"
                  maxlength="200"
                  show-word-limit
                  disabled
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <div class="price-total" v-show="form.demomoney">
                <span class="price-discount"><strong>现价：</strong>{{form.demodiscountmoney}} 元</span>
                <span class="price-money"><span>原价：{{form.demomoney}} 元</span></span>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-card>

      <!-- 婚车信息 -->
      <el-card shadow="always" class="page-title">
        <div slot="header" class="container-header">
          婚车信息
        </div>
        <div class="container-form">
          <el-row>
            <el-col :span="12">
              <el-form-item label="头车选择" prop="headmerchantvehicleid">
                <el-select v-model="form.headmerchantvehicleid" clearable disabled filterable placeholder="请选择" style="width: 100%">
                  <el-option
                    v-for="(item, index) in carsList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="头车颜色" prop="headcolor">
                <el-select v-model="form.headcolor" placeholder="请选择" style="width: 100%" disabled>
                  <el-option
                    v-for="(item) in form.headcolorjson"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="头车现价" prop="headmerchantvehiclediscountmoney">
                <el-input v-model="form.headmerchantvehiclediscountmoney" placeholder="自动获取" disabled></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="头车原价" prop="headmerchantvehiclemoney">
                <el-input v-model="form.headmerchantvehiclemoney" placeholder="自动获取" disabled></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="花环单价" prop="wreathprice">
                <el-input v-model="form.wreathprice" placeholder="自动获取" disabled></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="头车数量" prop="headmerchantvehiclenum">
                <el-input v-model="form.headmerchantvehiclenum" clearable disabled placeholder="请输入数量自动计算"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="用车时段" prop="headtimeinterval">
                <el-select v-model="form.headtimeinterval"  style="width: 100%" disabled placeholder="请选择">
                  <el-option label="半天" :value="1"></el-option>
                  <el-option label="整天" :value="2"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-divider></el-divider>
          <!-- 礼车 -->
          <el-row>
            <el-col :span="11">
              <el-form-item label="礼宾车选择" prop="tailmerchantvehicleid">
                <el-select v-model="form.tailmerchantvehicleid" clearable filterable disabled placeholder="请选择" style="width: 100%">
                  <el-option
                    v-for="(item, index) in carsList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="礼宾车颜色" prop="tailcolor">
                <el-select v-model="form.tailcolor" placeholder="请选择" disabled style="width: 100%">
                  <el-option
                    v-for="(item) in form.tailcolorjson"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="11">
              <el-form-item label="礼宾车现价" prop="tailmerchantvehiclediscountmoney">
                <el-input v-model="form.tailmerchantvehiclediscountmoney" disabled placeholder="自动获取" disabled></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="礼宾车原价" prop="tailmerchantvehiclemoney">
                <el-input v-model="form.tailmerchantvehiclemoney" placeholder="自动获取" disabled></el-input>
              </el-form-item>
            </el-col>

          </el-row>
          <el-row>
            <el-col :span="11">
              <el-form-item label="礼宾车数量" prop="tailmerchantvehiclenum">
                <el-input v-model="form.tailmerchantvehiclenum" disabled placeholder="请输入数量自动计算"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="用车时段" prop="tailtimeinterval" >
                <el-select v-model="form.tailtimeinterval"  disabled placeholder="请选择" style="width: 100%">
                  <el-option label="半天" :value="1"></el-option>
                  <el-option label="整天" :value="2"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="备注信息" prop="vehicleremark">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.vehicleremark"
                  maxlength="300"
                  show-word-limit
                  disabled
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <div class="price-total" v-show="form.vehiclediscountmoney">
                <span class="price-discount"><strong>现价：</strong>{{form.vehiclediscountmoney}} 元</span>
                <span class="price-money"><span>原价：{{form.vehiclemoney}} 元</span></span>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-card>
      <!-- 司仪信息 -->
      <el-card shadow="always" class="page-title">
        <div slot="header" class="container-header">
          司仪信息
        </div>
        <div class="container-form">
          <el-row>
            <el-col :span="12">
              <el-form-item label="风格筛选" prop="emceestyletype">
                <el-select v-model="searchform.emceestyletype" clearable disabled placeholder="请选择" style="width: 100%">
                  <el-option
                    v-for="(item, index) in emceeStyleList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="选择司仪" prop="emceeid">
                <el-select v-model="form.emceeid" clearable filterable disabled placeholder="请选择" style="width: 100%">
                  <el-option
                    v-for="(item) in siyiList"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <div style="width: 100%;height: 100px;margin-top: -10px">
                <img :src="form.emceeimage" alt=""  v-show="form.emceeimage" style="width:100px;height:100px;border-radius: 50%;overflow:hidden;margin-left: 30px;">
              </div>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="备注信息" prop="emceeremark">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.emceeremark"
                  maxlength="300"
                  show-word-limit
                  disabled
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <div class="price-total" v-show="form.emceemoney">
                <span class="price-discount"><strong>现价：</strong>{{form.emceediscountmoney}} 元</span>
                <span class="price-money"><span>原价：{{form.emceemoney}} 元</span></span>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-card>
      <!-- 跟妆信息 -->
      <el-card shadow="always" class="page-title">
        <div slot="header" class="container-header">
          跟妆信息
        </div>
        <div class="container-form">
          <el-row>
            <el-col :span="12">
              <el-form-item label="风格筛选" prop="makeupstyletype">
                <el-select v-model="searchform.makeupstyletype" disabled clearable placeholder="请选择" style="width: 100%">
                  <el-option
                    v-for="(item, index) in makeupStyleList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="选择跟妆" prop="makeupid">
                <el-select v-model="form.makeupid" filterable disabled placeholder="请选择" clearable style="width: 100%">
                  <el-option
                    v-for="(item, index) in genzhuangList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <div style="width: 100%;height: 100px;margin-top: -10px">
                <img :src="form.makeupimage" alt="" v-show="form.makeupimage" style="width:100px;height:100px;border-radius: 50%;overflow:hidden;margin-left: 30px;">
              </div>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="备注信息" prop="makeupremark">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.makeupremark"
                  maxlength="300"
                  show-word-limit
                  disabled
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <div class="price-total" v-show="form.makeupmoney">
                <span class="price-discount"><strong>现价：</strong>{{form.makeupdiscountmoney}} 元</span>
                <span class="price-money"><span>原价：{{form.makeupmoney}} 元</span></span>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-card>
       <!-- 摄影信息 -->
      <el-card shadow="always" class="page-title">
        <div slot="header" class="container-header">
          摄影信息
        </div>
        <div class="container-form">
          <el-row>
            <el-col :span="12">
              <el-form-item label="摄影性别" prop="photographystyletype">
                <el-select v-model="searchform.photographystyletype" disabled clearable placeholder="请选择" style="width: 100%">
                  <el-option
                    v-for="(item, index) in photographyStyleList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="摄影选择" prop="photographyid">
                <el-select v-model="form.photographyid" clearable disabled filterable placeholder="请选择" style="width: 100%">
                  <el-option
                    v-for="(item, index) in sheyingList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <div style="width: 100%;height: 100px;margin-top: -10px">
                <img :src="form.photographyimage" alt="" v-show="form.photographyimage" style="width:100px;height:100px;border-radius: 50%;overflow:hidden;margin-left: 30px;">
              </div>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="单机位现价" prop="photographydiscountmoney">
                <el-input v-model="form.photographydiscountmoney" disabled placeholder="自动获取"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="单机位原价" prop="photographymoney">
                <el-input v-model="form.photographymoney" disabled placeholder="自动获取"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="机位数量" prop="photographynum">
                <el-input v-model="form.photographynum" disabled clearable placeholder="请输入数量自动计算"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="备注信息" prop="photographyremark">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.photographyremark"
                  maxlength="300"
                  show-word-limit
                  disabled
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <div class="price-total" v-show="form.photographydiscountmoneytotal">
                <span class="price-discount"><strong>现价：</strong>{{form.photographydiscountmoneytotal}} 元</span>
                <span class="price-money"><span>原价：{{form.photographymoneytotal}} 元</span></span>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-card>
      <!-- 活动信息 -->
      <el-card shadow="always" class="page-title">
        <div slot="header" class="container-header">
          活动信息
        </div>
        <div class="container-form">
          <el-row>
            <el-col :span="12">
              <el-form-item label="现价" prop="alltotaldiscountmoney">
                <el-input v-model="form.alltotaldiscountmoney" disabled placeholder="自动获取"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="原价" prop="alltotalmoney">
                <el-input v-model="form.alltotalmoney" disabled placeholder="自动获取"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="满减优惠" prop="manjianid">
                <el-select v-model="form.manjianid" disabled clearable placeholder="请选择" style="width: 100%">
                  <el-option
                    v-for="(item, index) in manjianData" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="折扣优惠" prop="discountid" >
                <el-select v-model="form.discountid" disabled clearable placeholder="请选择" style="width: 100%">
                  <el-option
                    v-for="(item, index) in discountData" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="支付价格" prop="computedtotal">
                <el-input v-model="form.computedtotal"  disabled placeholder="自动获取"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="支付价格" prop="computedtotal">
                <el-input v-model="form.computedtotal"  disabled></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <div style="text-align:center">
                <el-popover
                  placement="top"
                  width="160"
                  v-model="payvisible">
                  <p>确定进行此操作吗？</p>
                  <div style="text-align: right; margin: 0">
                    <el-button size="mini" type="text" @click="payvisible = false">取消</el-button>
                    <el-button type="primary" size="mini" @click="handlePayOrder">确定</el-button>
                  </div>
                  <el-button type="primary" slot="reference" v-show="orderstatus === 0">确 认 支 付</el-button>
                </el-popover>
                <el-popover
                  placement="top"
                  width="160"
                  v-model="completevisible">
                  <p>确定进行此操作吗？</p>
                  <div style="text-align: right; margin: 0">
                    <el-button size="mini" type="text" @click="completevisible = false">取消</el-button>
                    <el-button type="primary" size="mini" @click="handleCompleteOrder">确定</el-button>
                  </div>
                  <el-button type="primary" slot="reference" v-show="orderstatus === 1">确 认 完 成</el-button>
                </el-popover>
                <div class="check-result result-suc" v-show="orderstatus === 2">
                  <h1><i class="el-icon-circle-check"></i></h1>
                  <p>订 单 已 完 成</p>
                </div>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-card>
    </el-form>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex';
import http from '@/axios/http';
export default {
  data () {
    return {
      pickerOptions: {
        disabledDate (time) {
          return time.getTime() - (0*3600 * 1000 * 24) <= Date.now();
        }
      },
      searchform: {
        emceestyletype: '',
        makeupstyletype: '',
        photographystyletype: ''
      },
      form: {
        groomname: '',
        groomaccout: '',
        bridename: '',
        brideaccount: '',
        groomaddress: '',
        brideaddress: '',
        orderweddingdate: '',
        email: '',

        merchantdemoid: '',
        demomoney: 0,
        demodiscountmoney: 0,
        demoremark: '',

        headcolor: '',
        headcolorjson: [],
        headmerchantvehicleid: '',
        headmerchantvehiclemoney: '',
        headmerchantvehiclediscountmoney: '',
        headmerchantvehiclenum: '',
        headtimeinterval: 1,
        wreathprice: '',

        tailcolor: '',
        tailcolorjson: [],
        tailmerchantvehicleid: '',
        tailmerchantvehiclemoney: '',
        tailmerchantvehiclediscountmoney: '',
        tailmerchantvehiclenum: '',
        tailtimeinterval: 1,
        vehiclediscountmoney: 0,
        vehiclemoney: 0,
        vehicleremark: '',



        emceeid: '',
        emceemoney: 0,
        emceediscountmoney: 0,
        emceeremark: '',
        emceeimage: '',

        makeupid: '',
        makeupmoney: 0,
        makeupdiscountmoney: 0,
        makeupremark: '',
        makeupimage: '',

        photographyid: '',
        photographymoney: '',
        photographynum: '',
        photographydiscountmoney: '',
        photographymoneytotal: 0,
        photographydiscountmoneytotal: 0,
        photographyremark: '',
        photographyimage: '',

        alltotaldiscountmoney: 0,
        alltotalmoney: 0,
        computedtotal: 0,
        manjianid: '',
        discountid: ''
      },
      productList: [],
      carsList: [],
      emceeStyleList: [],
      siyiList: [],
      makeupStyleList:[],
      genzhuangList: [],
      photographyStyleList:[],
      sheyingList: [],
      manjianData: [],
      discountData: [],
      orderid: 0,
      payvisible: false,
      completevisible: false,
      orderstatus: 0
    }
  },
  watch: {},
  computed: {
    ...mapState([
      'uulogin'
    ])
  },
  components: {},
  created () {
    if (this.$route.query.id) {
      this.orderid = this.$route.query.id;
      this.submitData()
    }
    this.productData();
    this.gotVehicleList();
    this.siyiData();
    this.emceeStyleData();

    this.genzhuangData();
    this.makeupStyleData();

    this.sheyingData();
    this.photographyStyleData();

    this.discountCoupon();
    this.manjianCoupon();

  },
  mounted () {},
  beforeDestroy () {},
  methods: {
    gotPrint () {
      // let printUrl = 'http://platform.hunlirenjia.com/print/index.html?id='+ this.orderid
      // window.open(printUrl, '_blank')
    },
    handlePayOrder () {
       http.post("/order/updateorderstatus.do", {
        id: this.orderid
      }).then((result) => {
        if (result.status === 1) {
          this.$message.success(result.msg);
          this.payvisible = false;
          this.submitData();
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    handleCompleteOrder () {
      http.post("/order/updateordercomplete.do", {
        id: this.orderid
      }).then((result) => {
        if (result.status === 1) {
          this.$message.success(result.msg);
          this.completevisible = false;
          this.submitData();
          this.$router.push('/order')
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    submitData() {
      http.post("/order/orderinfo.do", {
        id: this.orderid
      }).then((result) => {
        console.log(result)
        if (result.status === 1) {
          let data = result.data;
          this.orderstatus = data.orderstatus
          //产品
          let merchantdemoid = data.merchantdemoid ? data.merchantdemoid : ''
          let demomoney = data.demomoney ? data.demomoney : ''
          let demodiscountmoney = data.demodiscountmoney ? data.demodiscountmoney : ''

          //婚车
          let headmerchantvehicleid = data.headmerchantvehicleid ? data.headmerchantvehicleid : ''
          let headmerchantvehiclemoney = data.headmerchantvehiclemoney ? data.headmerchantvehiclemoney : ''
          let headmerchantvehiclediscountmoney = data.headmerchantvehiclediscountmoney ? data.headmerchantvehiclediscountmoney : ''
          let headmerchantvehiclenum = data.headmerchantvehiclenum ? data.headmerchantvehiclenum : ''
          let headtimeinterval = data.headtimeinterval === 2 ? 2 : 1
          let headcolor = data.headcolor ? data.headcolor : ''
          let wreathprice = data.wreathprice ? data.wreathprice : ''

          let tailmerchantvehicleid = data.tailmerchantvehicleid ? data.tailmerchantvehicleid : ''
          let tailmerchantvehiclemoney = data.tailmerchantvehiclemoney ? data.tailmerchantvehiclemoney : ''
          let tailmerchantvehiclediscountmoney = data.tailmerchantvehiclediscountmoney ? data.tailmerchantvehiclediscountmoney : ''
          let tailmerchantvehiclenum = data.tailmerchantvehiclenum ? data.tailmerchantvehiclenum : ''
          let tailtimeinterval = data.tailmerchantvehiclenum === 2 ? 2 : 1
          let tailcolor = data.tailcolor ? data.tailcolor : ''
          //司仪
          let emceeid = data.emceeid ? data.emceeid : ''
          let emceemoney = data.emceemoney ? data.emceemoney : ''
          let emceediscountmoney = data.emceediscountmoney ? data.emceediscountmoney : ''
           //司仪
          let makeupid = data.makeupid ? data.makeupid : ''
          let makeupmoney = data.makeupmoney ? data.makeupmoney : ''
          let makeupdiscountmoney = data.makeupdiscountmoney ? data.makeupdiscountmoney : ''
          //摄影
          let photographyid = data.photographyid ? data.photographyid : ''
          let photographymoney = data.photographymoney ? data.photographymoney : ''
          let photographydiscountmoney = data.photographydiscountmoney ? data.photographydiscountmoney : ''
          let photographynum = data.photographynum ? data.photographynum : ''

          this.form = {
            groomname: data.groomname,
            groomaccout: data.groomaccout,
            bridename: data.bridename,
            brideaccount: data.brideaccount,
            groomaddress: data.groomaddress,
            brideaddress: data.brideaddress,
            orderweddingdate: data.orderweddingdate,
            email: data.email,
            alltotaldiscountmoney: data.alltotaldiscountmoney,
            alltotalmoney: data.alltotalmoney,
            manjianid: data.manjianid,
            discountid: data.discountid,
            computedtotal: data.computedtotal,

            merchantdemoid: merchantdemoid,
            demomoney: demomoney,
            demodiscountmoney: demodiscountmoney,
            demoremark: data.demoremark,

            headcolor: headcolor,
            headcolorjson: data.headcolorjson,
            headmerchantvehicleid: headmerchantvehicleid,
            headmerchantvehiclemoney: headmerchantvehiclemoney,
            headmerchantvehiclediscountmoney: headmerchantvehiclediscountmoney,
            headmerchantvehiclenum: headmerchantvehiclenum,
            headtimeinterval: headtimeinterval,
            wreathprice: wreathprice,
            tailcolor: tailcolor,
            tailcolorjson: data.tailcolorjson,
            tailmerchantvehicleid: tailmerchantvehicleid,
            tailmerchantvehiclemoney: tailmerchantvehiclemoney,
            tailmerchantvehiclediscountmoney: tailmerchantvehiclediscountmoney,
            tailmerchantvehiclenum: tailmerchantvehiclenum,
            tailtimeinterval: tailtimeinterval,
            vehiclediscountmoney: data.vehiclediscountmoney,
            vehiclemoney: data.vehiclemoney,
            vehicleremark: data.vehicleremark,

            emceeid: emceeid,
            emceemoney:emceemoney,
            emceediscountmoney: emceediscountmoney,
            emceeremark: data.emceeremark,
            emceeimage:  data.emceeimage,
            makeupid: makeupid,
            makeupmoney: makeupmoney,
            makeupdiscountmoney: makeupdiscountmoney,
            makeupremark: data.makeupremark,
            makeupimage: data.makeupimage,

            photographyid: photographyid,
            photographynum: photographynum,
            photographymoney: photographymoney,
            photographydiscountmoney: photographydiscountmoney,
            photographydiscountmoneytotal: data.photographymoneytotal,
            photographymoneytotal: data.photographymoneytotal,
            photographyremark: data.photographyremark,
            photographyimage: data.photographyimage
          };
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });

    },
    handleBack () {
      this.$router.push('/order')
    },
    productData () {
      //产品接口
      http.post("/merchant/backuppassproductitem.do", {
        id: this.uulogin.id
      }).then((result) => {
        if (result.status === 1) {
          this.productList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    gotVehicleList () {
      http.post("/vehicle/getvehiclebyparam.do", {
        id: this.uulogin.id
      })
      .then((result) => {
        if (result.status === 1) {
          this.carsList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    siyiData () {
      let styletype = !this.searchform.emceestyletype ? 0 : this.searchform.emceestyletype
      http.post("/emcee/getemceebyparam.do", {
        id: this.uulogin.id,
        styleid: styletype
      })
      .then((result) => {
        // console.log(result)
        if (result.status === 1) {
          this.siyiList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    emceeStyleData () {
      //司仪风格下拉
      http.post("/style/droplist.do", {
        type: 1
      })
      .then((result) => {
        if (result.status === 1) {
          this.emceeStyleList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    genzhuangData () {
      let styletype = !this.searchform.makeupstyletype ? 0 : this.searchform.makeupstyletype;
      http.post("/makeup/getmakeupbyparam.do", {
        id: this.uulogin.id,
        styleid: styletype
      })
      .then((result) => {
        // console.log(result)
        if (result.status === 1) {
          this.genzhuangList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });

    },
    makeupStyleData () {
      //跟妆风格下拉
      http.post("/style/droplist.do", {
        type: 4
      })
      .then((result) => {
        if (result.status === 1) {
          this.makeupStyleList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    sheyingData () {
      let styletype = this.searchform.photographystyletype === '' ? 0 : this.searchform.photographystyletype;
      http.post("/photography/getphotographybyparam.do", {
        id: this.uulogin.id,
        styleid: styletype
      })
      .then((result) => {
        if (result.status === 1) {
          this.sheyingList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });

    },
    photographyStyleData () {
      //摄影风格下拉
      http.post("/style/droplist.do", {
        type: 2
      })
      .then((result) => {
        if (result.status === 1) {
          this.photographyStyleList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    discountCoupon () {
      //折扣活动
      http.post("/celebrationactivty/activtyonstatus.do", {
        id: this.uulogin.id,
        type: 2
      }).then((result) => {
        if (result.status === 1) {
          this.discountData = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    manjianCoupon () {
      //折扣活动
      http.post("/celebrationactivty/activtyonstatus.do", {
        id: this.uulogin.id,
        type: 1
      }).then((result) => {
        if (result.status === 1) {
          this.manjianData = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '../Home/index.scss';
.container-header {
  font-size: 16px;
}
.input-order {
  width: 300px;
}
.price-total {
  text-align: right;
  font-size: 14px;
  .price-discount {
    margin-right: 15px;
    color: #333;
  }
  .price-money {
    text-decoration: line-through;
    color: red;
    span {
      color: #333;
    }
  }
}
.time {
  font-size: 13px;
  color: #999;
}

.bottom {
  margin-top: 13px;
  line-height: 12px;
}

.button {
  padding: 0;
  float: right;
}

.image {
  width: 100%;
  display: block;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}
.menu-box {
  height: 300px;
  &::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
  }
  li {
    height: 25px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
.back-btn-box {
  width: 100px;
  height: 40px;
  position: absolute;
  left: -5px;
  top: 0;
}
</style>
