<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-30 23:05:41
 * @LastEditTime: 2019-08-29 21:17:44
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="page">
    <el-card shadow="always" class="page-title">
      <div class="title-tag">
        <div class="tag-span">订单新增</div>
        <div class="back-btn-box">
          <el-button icon="el-icon-arrow-left" @click="handleBack">返回订单页</el-button>
        </div>
      </div>
    </el-card>
    <el-form ref="form" :model="form" :rules="rules" label-width="120px">
      <!-- 客户信息 -->
      <el-card shadow="always" class="page-title">
        <div slot="header" class="container-header">
          客户信息
        </div>
        <div class="container-form">
          <el-row>
            <el-col :span="12">
              <el-form-item label="新郎姓名" prop="groomname">
                <el-input v-model="form.groomname"  placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="新郎电话" prop="groomaccout">
                <el-input v-model="form.groomaccout" placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="新郎地址" prop="groomaddress">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.groomaddress"
                  maxlength="200"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="新娘姓名" prop="bridename">
                <el-input v-model="form.bridename"  placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="新娘电话" prop="brideaccount">
                <el-input v-model="form.brideaccount" placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="新娘地址" prop="brideaddress">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.brideaddress"
                  maxlength="200"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="客户婚期" prop="orderweddingdate">
                <el-date-picker
                  v-model="form.orderweddingdate"
                  type="date"
                  placeholder="选择日期"
                  style="width: 100%"
                  format="yyyy 年 MM 月 dd 日"
                  value-format="yyyy-MM-dd"
                  :picker-options="pickerOptions"
                >
                </el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="联系邮箱" prop="email">
                <el-input v-model="form.email"  placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </div>
      </el-card>
      <!-- 婚庆信息 -->
      <el-card shadow="always" class="page-title">
        <div slot="header" class="container-header">
          婚庆信息
        </div>
        <div class="container-form">
          <el-row>
            <el-col :span="24">
              <el-form-item label="婚庆方案" prop="merchantdemoid">
                <el-select v-model="form.merchantdemoid" clearable placeholder="请选择" @change="selectProduct" style="width: 100%">
                  <el-option
                    v-for="(item, index) in productList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="备注信息" prop="demoremark">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.demoremark"
                  maxlength="200"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <div class="price-total" v-show="form.demomoney">
                <span class="price-discount"><strong>现价：</strong>{{form.demodiscountmoney}} 元</span>
                <span class="price-money"><span>原价：{{form.demomoney}} 元</span></span>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-card>

      <!-- 婚车信息 -->
      <el-card shadow="always" class="page-title">
        <div slot="header" class="container-header">
          婚车信息
        </div>
        <div class="container-form">
          <el-row>
            <el-col :span="12">
              <el-form-item label="头车选择" prop="headmerchantvehicleid">
                <el-select v-model="form.headmerchantvehicleid" clearable filterable placeholder="请选择" @change="selectHeadmerchantvehicle" style="width: 100%">
                  <el-option
                    v-for="(item, index) in carsList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="头车颜色" prop="headcolor">
                <el-select v-model="form.headcolor" placeholder="请选择" style="width: 100%">
                  <el-option
                    v-for="(item) in form.headcolorjson"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="头车现价" prop="headmerchantvehiclediscountmoney">
                <el-input v-model="form.headmerchantvehiclediscountmoney" placeholder="自动获取" disabled></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="头车原价" prop="headmerchantvehiclemoney">
                <el-input v-model="form.headmerchantvehiclemoney" placeholder="自动获取" disabled></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="花环单价" prop="wreathprice">
                <el-input v-model="form.wreathprice" placeholder="自动获取" disabled></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="头车数量" prop="headmerchantvehiclenum">
                <el-input v-model="form.headmerchantvehiclenum" clearable placeholder="请输入数量自动计算"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="用车时段" prop="headtimeinterval">
                <el-select v-model="form.headtimeinterval"  style="width: 100%" placeholder="请选择" @change="changeUserHeadCarTime">
                  <el-option label="半天" :value="1"></el-option>
                  <el-option label="整天" :value="2"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-divider></el-divider>
          <!-- 礼车 -->
          <el-row>
            <el-col :span="11">
              <el-form-item label="礼宾车选择" prop="tailmerchantvehicleid">
                <el-select v-model="form.tailmerchantvehicleid" clearable filterable placeholder="请选择" @change="selectTailmerchantvehicle" style="width: 100%">
                  <el-option
                    v-for="(item, index) in carsList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="礼宾车颜色" prop="tailcolor">
                <el-select v-model="form.tailcolor" placeholder="请选择" style="width: 100%">
                  <el-option
                    v-for="(item) in form.tailcolorjson"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="11">
              <el-form-item label="礼宾车现价" prop="tailmerchantvehiclediscountmoney">
                <el-input v-model="form.tailmerchantvehiclediscountmoney" placeholder="自动获取" disabled></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="礼宾车原价" prop="tailmerchantvehiclemoney">
                <el-input v-model="form.tailmerchantvehiclemoney" placeholder="自动获取" disabled></el-input>
              </el-form-item>
            </el-col>

          </el-row>
          <el-row>
            <el-col :span="11">
              <el-form-item label="礼宾车数量" prop="tailmerchantvehiclenum">
                <el-input v-model="form.tailmerchantvehiclenum" placeholder="请输入数量自动计算" @blur="gotToalVehicle"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="用车时段" prop="tailtimeinterval" >
                <el-select v-model="form.tailtimeinterval"  placeholder="请选择" @change="changeUserTailCarTime" style="width: 100%">
                  <el-option label="半天" :value="1"></el-option>
                  <el-option label="整天" :value="2"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="备注信息" prop="vehicleremark">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.vehicleremark"
                  maxlength="300"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <div class="price-total" v-show="form.vehiclediscountmoney">
                <span class="price-discount"><strong>现价：</strong>{{form.vehiclediscountmoney}} 元</span>
                <span class="price-money"><span>原价：{{form.vehiclemoney}} 元</span></span>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-card>
      <!-- 司仪信息 -->
      <el-card shadow="always" class="page-title">
        <div slot="header" class="container-header">
          司仪信息
        </div>
        <div class="container-form">
          <el-row>
            <el-col :span="12">
              <el-form-item label="风格筛选" prop="emceestyletype">
                <el-select v-model="searchform.emceestyletype" clearable placeholder="请选择" @change="searchsiyiData" style="width: 100%">
                  <el-option
                    v-for="(item, index) in emceeStyleList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="选择司仪" prop="emceeid">
                <el-select v-model="form.emceeid" clearable filterable placeholder="请选择" @change="selectSiyi" style="width: 100%">
                  <el-option
                    v-for="(item) in siyiList"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <div style="width: 100%;height: 100px;margin-top: -10px">
                <img :src="form.emceeimage" alt=""  v-show="form.emceeimage" style="width:100px;height:100px;border-radius: 50%;overflow:hidden;margin-left: 30px;">
              </div>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="备注信息" prop="emceeremark">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.emceeremark"
                  maxlength="300"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <div class="price-total" v-show="form.emceemoney">
                <span class="price-discount"><strong>现价：</strong>{{form.emceediscountmoney}} 元</span>
                <span class="price-money"><span>原价：{{form.emceemoney}} 元</span></span>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-card>
      <!-- 跟妆信息 -->
      <el-card shadow="always" class="page-title">
        <div slot="header" class="container-header">
          跟妆信息
        </div>
        <div class="container-form">
          <el-row>
            <el-col :span="12">
              <el-form-item label="风格筛选" prop="makeupstyletype">
                <el-select v-model="searchform.makeupstyletype" clearable placeholder="请选择" @change="searchgenzhuangData" style="width: 100%">
                  <el-option
                    v-for="(item, index) in makeupStyleList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="选择跟妆" prop="makeupid">
                <el-select v-model="form.makeupid" filterable placeholder="请选择" clearable @change="selectGenzhuang" style="width: 100%">
                  <el-option
                    v-for="(item, index) in genzhuangList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <div style="width: 100%;height: 100px;margin-top: -10px">
                <img :src="form.makeupimage" alt="" v-show="form.makeupimage" style="width:100px;height:100px;border-radius: 50%;overflow:hidden;margin-left: 30px;">
              </div>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="备注信息" prop="makeupremark">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.makeupremark"
                  maxlength="300"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <div class="price-total" v-show="form.makeupmoney">
                <span class="price-discount"><strong>现价：</strong>{{form.makeupdiscountmoney}} 元</span>
                <span class="price-money"><span>原价：{{form.makeupmoney}} 元</span></span>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-card>
       <!-- 摄影信息 -->
      <el-card shadow="always" class="page-title">
        <div slot="header" class="container-header">
          摄影信息
        </div>
        <div class="container-form">
          <el-row>
            <el-col :span="12">
              <el-form-item label="摄影性别" prop="photographystyletype">
                <el-select v-model="searchform.photographystyletype" clearable placeholder="请选择" @change="searchsheyingData" style="width: 100%">
                  <el-option
                    v-for="(item, index) in photographyStyleList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="摄影选择" prop="photographyid">
                <el-select v-model="form.photographyid" clearable filterable placeholder="请选择" @change="selectSheYing" style="width: 100%">
                  <el-option
                    v-for="(item, index) in sheyingList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <div style="width: 100%;height: 100px;margin-top: -10px">
                <img :src="form.photographyimage" alt="" v-show="form.photographyimage" style="width:100px;height:100px;border-radius: 50%;overflow:hidden;margin-left: 30px;">
              </div>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="单机位现价" prop="photographydiscountmoney">
                <el-input v-model="form.photographydiscountmoney" disabled placeholder="自动获取"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="单机位原价" prop="photographymoney">
                <el-input v-model="form.photographymoney" disabled placeholder="自动获取"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="机位数量" prop="photographynum">
                <el-input v-model="form.photographynum" clearable placeholder="请输入数量自动计算"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="备注信息" prop="photographyremark">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.photographyremark"
                  maxlength="300"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <div class="price-total" v-show="form.photographydiscountmoneytotal">
                <span class="price-discount"><strong>现价：</strong>{{form.photographydiscountmoneytotal}} 元</span>
                <span class="price-money"><span>原价：{{form.photographymoneytotal}} 元</span></span>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-card>
      <!-- 活动信息 -->
      <el-card shadow="always" class="page-title">
        <div slot="header" class="container-header">
          活动信息
        </div>
        <div class="container-form">
          <el-row>
            <el-col :span="12">
              <el-form-item label="现价" prop="alltotaldiscountmoney">
                <el-input v-model="form.alltotaldiscountmoney" disabled placeholder="自动获取"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="原价" prop="alltotalmoney">
                <el-input v-model="form.alltotalmoney" disabled placeholder="自动获取"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="满减优惠" prop="manjianid">
                <el-select v-model="form.manjianid" clearable placeholder="请选择" @change="couputedTotal" style="width: 100%">
                  <el-option
                    v-for="(item, index) in manjianData" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="折扣优惠" prop="discountid" >
                <el-select v-model="form.discountid" clearable placeholder="请选择" @change="couputedTotal" style="width: 100%">
                  <el-option
                    v-for="(item, index) in discountData" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="支付价格" prop="computedtotal">
                <el-input v-model="form.computedtotal"  disabled placeholder="自动获取"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
           <el-row>
            <el-col :span="24">
              <div style="text-align:center">
                <el-button type="primary" @click="submitOrder('form')">提 交 订 单</el-button>
                <el-button type="danger" @click="cancelOrder('form')">重 置 订 单</el-button>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-card>
    </el-form>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex';
import http from '@/axios/http';
export default {
  data () {
    let regPhone = /^1\d{10}$/;
    let validatePhone = (rule, value, callback) => {
      if (!regPhone.test(value)) {
        callback(new Error('手机号码不合法'));
      } else {
        callback();
      }
    };
    let regTel = /^([0-9]{3,4}-)?[0-9]{7,8}$/;
    let validateTel = (rule, value, callback) => {
      if (value) {
        if (!regTel.test(value)) {
          callback(new Error('固定号码不合法'));
        } else {
          callback();
        }
      } else {
        callback(new Error('不能为空'));
      }
    };
    return {
      pickerOptions: {
        disabledDate (time) {
          return time.getTime() - (0*3600 * 1000 * 24) <= Date.now();
        }
      },
      searchform: {
        emceestyletype: '',
        makeupstyletype: '',
        photographystyletype: ''
      },
      form: {
        groomname: '',
        groomaccout: '',
        bridename: '',
        brideaccount: '',
        groomaddress: '',
        brideaddress: '',
        orderweddingdate: '',
        email: '',

        merchantdemoid: '',
        demomoney: 0,
        demodiscountmoney: 0,
        demoremark: '',

        headcolor: '',
        headcolorjson: [],
        headmerchantvehicleid: '',
        headmerchantvehiclemoney: '',
        headmerchantvehiclediscountmoney: '',
        headmerchantvehiclenum: '',
        headtimeinterval: 1,
        wreathprice: '',

        tailcolor: '',
        tailcolorjson: [],
        tailmerchantvehicleid: '',
        tailmerchantvehiclemoney: '',
        tailmerchantvehiclediscountmoney: '',
        tailmerchantvehiclenum: '',
        tailtimeinterval: 1,
        vehiclediscountmoney: 0,
        vehiclemoney: 0,
        vehicleremark: '',



        emceeid: '',
        emceemoney: 0,
        emceediscountmoney: 0,
        emceeremark: '',
        emceeimage: '',

        makeupid: '',
        makeupmoney: 0,
        makeupdiscountmoney: 0,
        makeupremark: '',
        makeupimage: '',

        photographyid: '',
        photographymoney: '',
        photographynum: '',
        photographydiscountmoney: '',
        photographymoneytotal: 0,
        photographydiscountmoneytotal: 0,
        photographyremark: '',
        photographyimage: '',

        alltotaldiscountmoney: 0,
        alltotalmoney: 0,
        computedtotal: 0,
        manjianid: '',
        discountid: ''
      },
      rules: {
        groomname: [{ required: true, message: "不能为空", trigger: "blur" }],
        groomaccout: [{ validator: validatePhone, required: true,  trigger: "blur" }],
        bridename: [{ required: true, message: "不能为空", trigger: "blur" }],
        brideaccount: [{ validator: validatePhone, required: true,  trigger: "blur" }],
        groomaddress: [{ required: true, message: "不能为空", trigger: "blur" }],
        brideaddress: [{ required: true, message: "不能为空", trigger: "blur" }],
        orderweddingdate: [{ required: true, message: "不能为空", trigger: "change" }]
      },
      productList: [],
      carsList: [],
      emceeStyleList: [],
      siyiList: [],
      makeupStyleList:[],
      genzhuangList: [],
      photographyStyleList:[],
      sheyingList: [],
      manjianData: [],
      discountData: []
    }
  },
  watch: {
    "form.headmerchantvehiclenum": {
      //婚车计算
      handler (val, old) {
        this.gotToalVehicle()
      }
    },
    "form.tailmerchantvehiclenum": {
      //婚车计算
      handler (val, old) {
        this.gotToalVehicle()
      }
    },
    "form.photographynum": {
      //摄影计算
      handler (val, old) {
        this.gotToalPhotography()
      }
    },
  },
  computed: {
    ...mapState([
      'uulogin'
    ])
  },
  components: {},
  created () {

    this.productData();
    this.gotVehicleList();
    this.siyiData();
    this.emceeStyleData();

    this.genzhuangData();
    this.makeupStyleData();

    this.sheyingData();
    this.photographyStyleData();

    this.discountCoupon();
    this.manjianCoupon();

  },
  mounted () {},
  beforeDestroy () {},
  methods: {
    handleBack () {
      this.$router.push('/order')
    },
    productData () {
      //产品接口
      http.post("/merchant/backuppassproductitem.do", {
        id: this.uulogin.id
      }).then((result) => {
        if (result.status === 1) {
          this.productList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    selectProduct () {
      if (this.form.merchantdemoid) {
        http.post("/merchant/productiteminfo.do", {
          id: this.form.merchantdemoid
        }).then((result) => {
          if (result.status === 1) {
            let data = result.data;
            this.form.demomoney = data.money;
            this.form.demodiscountmoney = data.discountmoney;
          } else {
            this.$message.warning(result.msg);
          }
          //计算总价
          this.couputedTotal()
        })
        .catch(error => {
          this.$message.error(error);
        });
      } else {
        this.form.demomoney = '';
        this.form.demodiscountmoney = '';
        //计算总价
        this.couputedTotal()
      }

    },

    gotVehicleList () {
      http.post("/vehicle/getvehiclebyparam.do", {
        id: this.uulogin.id
      })
      .then((result) => {
        if (result.status === 1) {
          this.carsList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },

    selectHeadmerchantvehicle () {
      //切换头车婚车
      this.form.headmerchantvehiclenum = '';
      this.form.vehiclemoney = 0;
      this.form.vehiclediscountmoney = 0;
      this.form.wreathprice = '';
      this.form.headcolor = '';
      this.form.headcolorjson = [];
      if (this.form.headmerchantvehicleid) {
         http.post("/vehicle/vehicleinfo.do", {
           id: this.form.headmerchantvehicleid
          }).then((result) => {
            // console.log(result)
            if (result.status === 1) {
              let data = result.data;
              if (this.form.headtimeinterval === 2) {
                this.form.headmerchantvehiclemoney = data.daymoney;
                this.form.headmerchantvehiclediscountmoney = data.daydiscountmoney;
              } else {
                this.form.headmerchantvehiclemoney = data.daymoney/2;
                this.form.headmerchantvehiclediscountmoney = data.daydiscountmoney/2;
              }
              this.form.headcolorjson = data.colordata;
              this.form.wreathprice = data.wreathprice;
            } else {
              this.$message.warning(result.msg);
            }
            //计算婚车总价格
            this.gotToalVehicle()
          })
          .catch(error => {
            this.$message.error(error);
          });
      } else {
        this.form.headmerchantvehiclemoney = '';
        this.form.headmerchantvehiclediscountmoney = '';
        this.form.headcolor = '';
        this.form.headcolorjson = [];
        this.form.wreathprice = '';
        //计算婚车总价格
        this.gotToalVehicle()
      }
    },
    changeUserHeadCarTime () {
       //切换头车时间
      let headmerchantvehiclemoney = this.form.headmerchantvehiclemoney;
      let headmerchantvehiclediscountmoney = this.form.headmerchantvehiclediscountmoney;
      if (headmerchantvehiclemoney) {
        if (this.form.headtimeinterval === 2) {
          this.form.headmerchantvehiclemoney = headmerchantvehiclemoney*2;
          this.form.headmerchantvehiclediscountmoney = headmerchantvehiclediscountmoney*2;
        } else {
          this.form.headmerchantvehiclemoney = headmerchantvehiclemoney/2;
          this.form.headmerchantvehiclediscountmoney = headmerchantvehiclediscountmoney/2;
        }
      }
      //计算婚车总价格
      this.gotToalVehicle()
    },
    selectTailmerchantvehicle () {
      //切换礼车婚车
      this.form.vehiclemoney = 0;
      this.form.vehiclediscountmoney = 0;
      this.form.tailmerchantvehiclenum = '';
      this.form.tailcolor = '';
      this.form.tailcolorjson = [];
      if (this.form.tailmerchantvehicleid) {
         http.post("/vehicle/vehicleinfo.do", {
            id: this.form.tailmerchantvehicleid
          }).then((result) => {
            if (result.status === 1) {
              let data = result.data;
              if (this.form.tailtimeinterval === 2) {
                this.form.tailmerchantvehiclemoney = data.daymoney;
                this.form.tailmerchantvehiclediscountmoney = data.daydiscountmoney;
              } else {
                this.form.tailmerchantvehiclemoney = data.daymoney/2;
                this.form.tailmerchantvehiclediscountmoney = data.daydiscountmoney/2;
              }
              this.form.tailcolorjson = data.colordata;
              //计算婚车总价格
              this.gotToalVehicle()
            } else {
              this.$message.warning(result.msg);
            }
          })
          .catch(error => {
            this.$message.error(error);
          });
      } else {
        this.form.tailmerchantvehiclemoney = '';
        this.form.tailmerchantvehiclediscountmoney = '';
        this.form.tailcolor = '';
        this.form.tailcolorjson = [];
        //计算婚车总价格
        this.gotToalVehicle()
      }

    },
    changeUserTailCarTime () {
      //切换跟车时间
      let tailmerchantvehiclemoney = this.form.tailmerchantvehiclemoney;
      let tailmerchantvehiclediscountmoney = this.form.tailmerchantvehiclediscountmoney;
      if (tailmerchantvehiclemoney) {
        if (this.form.headtimeinterval === 2) {
          this.form.tailmerchantvehiclemoney = tailmerchantvehiclemoney*2;
          this.form.tailmerchantvehiclediscountmoney = tailmerchantvehiclediscountmoney*2;
        } else {
          this.form.tailmerchantvehiclemoney = tailmerchantvehiclemoney/2;
          this.form.tailmerchantvehiclediscountmoney = tailmerchantvehiclediscountmoney/2;
        }
      }
      //计算婚车总价格
      this.gotToalVehicle()
    },
    gotToalVehicle () {
      //获取婚车总价
      let headmerchantvehiclenum = this.form.headmerchantvehiclenum === '' ? 0 : parseInt(this.form.headmerchantvehiclenum);
      let tailmerchantvehiclenum = this.form.tailmerchantvehiclenum === '' ? 0 : parseInt(this.form.tailmerchantvehiclenum);
      let headmerchantvehiclemoney = this.form.headmerchantvehiclemoney === '' ? 0 : this.form.headmerchantvehiclemoney;
      let headmerchantvehiclediscountmoney = this.form.headmerchantvehiclediscountmoney === '' ? 0 : this.form.headmerchantvehiclediscountmoney;
      let tailmerchantvehiclemoney = this.form.tailmerchantvehiclemoney === '' ? 0 : this.form.tailmerchantvehiclemoney;
      let tailmerchantvehiclediscountmoney = this.form.tailmerchantvehiclediscountmoney === '' ? 0 : this.form.tailmerchantvehiclediscountmoney;
      let wreathprice = this.form.wreathprice === '' ? 0 : this.form.wreathprice;

      let headtotal = headmerchantvehiclenum*headmerchantvehiclemoney + headmerchantvehiclenum*wreathprice;
      let headdiscount = headmerchantvehiclenum*headmerchantvehiclediscountmoney + headmerchantvehiclenum*wreathprice;
      let tailtotal = tailmerchantvehiclenum*tailmerchantvehiclemoney;
      let taildiscount = tailmerchantvehiclenum*tailmerchantvehiclediscountmoney;
      this.form.vehiclemoney = tailtotal + headtotal;
      this.form.vehiclediscountmoney = headdiscount + taildiscount;
      //计算总价
      this.couputedTotal()
    },


    searchsiyiData () {
      //筛选司仪
      this.form.emceeimage = '';
      this.form.emceeid = '';
      this.form.emceemoney = 0;
      this.form.emceediscountmoney = 0;
      this.form.emceeremark = '';

      this.siyiData();
       //计算总价
      this.couputedTotal();
    },
    siyiData () {
      let styletype = !this.searchform.emceestyletype ? 0 : this.searchform.emceestyletype
      http.post("/emcee/getemceebyparam.do", {
        id: this.uulogin.id,
        styleid: styletype
      })
      .then((result) => {
        // console.log(result)
        if (result.status === 1) {
          this.siyiList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    selectSiyi () {
      //切换司仪
      if (this.form.emceeid) {
        http.post("/emcee/emceeinfo.do", {
          id: this.form.emceeid
        }).then((result) => {
          if (result.status === 1) {
            let data = result.data;
            this.form.emceeimage = data.photo;
            this.form.emceemoney = data.money;
            this.form.emceediscountmoney = data.discountmoney;
          } else {
            this.$message.warning(result.msg);
          }
          //计算总价
          this.couputedTotal();
        })
        .catch(error => {
          this.$message.error(error);
        });
      } else {
        this.form.emceeimage = '';
        this.form.emceemoney = '';
        this.form.emceediscountmoney = '';
        //计算总价
        this.couputedTotal();
      }

    },
    emceeStyleData () {
      //司仪风格下拉
      http.post("/style/droplist.do", {
        type: 1
      })
      .then((result) => {
        if (result.status === 1) {
          this.emceeStyleList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },

    searchgenzhuangData () {
      //筛选跟妆
      this.form.makeupimage = '';
      this.form.makeupid = '';
      this.form.makeupmoney = 0;
      this.form.makeupdiscountmoney = 0;
      this.form.makeupremark = ''
      this.genzhuangData()
      //计算总价
      this.couputedTotal();
    },
    genzhuangData () {
      let styletype = !this.searchform.makeupstyletype ? 0 : this.searchform.makeupstyletype;
      http.post("/makeup/getmakeupbyparam.do", {
        id: this.uulogin.id,
        styleid: styletype
      })
      .then((result) => {
        // console.log(result)
        if (result.status === 1) {
          this.genzhuangList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });

    },
    selectGenzhuang () {
      //切换跟妆
      const makeupid = this.form.makeupid === '' ? 0 : this.form.makeupid;
      if (makeupid) {
        http.post("/makeup/makeupinfo.do", {
          id: makeupid
        }).then((result) => {
          if (result.status === 1) {
            let data = result.data;
            this.form.makeupimage = data.photo;
            this.form.makeupmoney = data.money;
            this.form.makeupdiscountmoney = data.discountmoney;
          } else {
            this.$message.warning(result.msg);
          }
           //计算总价
          this.couputedTotal();
        })
        .catch(error => {
          this.$message.error(error);
        });
      } else {
        this.form.makeupimage = '';
        this.form.makeupmoney = '';
        this.form.makeupdiscountmoney = '';
        //计算总价
        this.couputedTotal();
      }

    },
    makeupStyleData () {
      //跟妆风格下拉
      http.post("/style/droplist.do", {
        type: 4
      })
      .then((result) => {
        if (result.status === 1) {
          this.makeupStyleList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    searchsheyingData () {
      //筛选摄影
      this.form.photographyimage = '';
      this.form.photographyid = '';
      this.form.photographymoney = '';
      this.form.photographydiscountmoney = '';
      this.form.photographynum = '';
      this.form.photographymoneytotal = 0;
      this.form.photographydiscountmoneytotal = 0;
      this.form.photographyremark = '';
      this.sheyingData();
      //计算金额
      this.gotToalPhotography()
    },
    sheyingData () {
      let styletype = this.searchform.photographystyletype === '' ? 0 : this.searchform.photographystyletype;
      console.log(styletype)
      http.post("/photography/getphotographybyparam.do", {
        id: this.uulogin.id,
        styleid: styletype
      })
      .then((result) => {
        console.log(result)
        if (result.status === 1) {
          this.sheyingList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });

    },
    selectSheYing () {
      //切换摄影
      this.form.photographynum = '';
      this.form.photographymoneytotal = 0;
      this.form.photographydiscountmoneytotal = 0;
      this.form.photographyremark = '';
      if (this.form.photographyid) {
        http.post("/photography/photographyinfo.do", {
          id: this.form.photographyid
        }).then((result) => {
          if (result.status === 1) {
            let data = result.data;
            this.form.photographyimage = data.photo;
            this.form.photographymoney = data.money;
            this.form.photographydiscountmoney = data.discountmoney;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch(error => {
          this.$message.error(error);
        });
      } else {
        this.form.photographyimage = '';
        this.form.photographymoney = '';
        this.form.photographydiscountmoney = '';
      }
      //计算金额
      this.gotToalPhotography()
    },
    gotToalPhotography () {
      let photographynum = this.form.photographynum === '' ? 0 : this.form.photographynum;
      let photographymoney = this.form.photographymoney === '' ? 0 : this.form.photographymoney;
      let photographydiscountmoney = this.form.photographydiscountmoney === '' ? 0 : this.form.photographydiscountmoney;
      this.form.photographymoneytotal = photographynum * photographymoney;
      this.form.photographydiscountmoneytotal = photographynum * photographydiscountmoney;
      //计算总价
      this.couputedTotal();
    },
    photographyStyleData () {
      //摄影性别
      http.post("/style/droplist.do", {
        type: 2
      })
      .then((result) => {
        if (result.status === 1) {
          // console.log(result)
          this.photographyStyleList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },

    discountCoupon () {
      //折扣活动
      http.post("/celebrationactivty/activtyonstatus.do", {
        id: this.uulogin.id,
        type: 2
      }).then((result) => {
        if (result.status === 1) {
          this.discountData = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    manjianCoupon () {
      //折扣活动
      http.post("/celebrationactivty/activtyonstatus.do", {
        id: this.uulogin.id,
        type: 1
      }).then((result) => {
        if (result.status === 1) {
          this.manjianData = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    couputedTotal () {
      this.form.alltotaldiscountmoney = 0;
      this.form.alltotalmoney = 0;

      //产品
      let demodiscountmoney = this.form.demodiscountmoney;
      let demomoney = this.form.demomoney;
      //化妆
      let makeupdiscountmoney = this.form.makeupdiscountmoney;
      let makeupmoney = this.form.makeupmoney;

      //司仪
      let emceediscountmoney = this.form.emceediscountmoney;
      let emceemoney = this.form.emceemoney;

      //摄影
      let photographydiscountmoneytotal = this.form.photographydiscountmoneytotal;
      let photographymoneytotal = this.form.photographymoneytotal;

      //婚车
      let vehiclediscountmoney = this.form.vehiclediscountmoney;
      let vehiclemoney = this.form.vehiclemoney;

      //酒店

      this.form.alltotaldiscountmoney =
        demodiscountmoney*1 +
        photographydiscountmoneytotal*1 +
        makeupdiscountmoney*1 +
        emceediscountmoney*1 +
        vehiclediscountmoney*1

      this.form.alltotalmoney =
        demomoney*1 +
        photographymoneytotal*1 +
        makeupmoney*1 +
        emceemoney*1 +
        vehiclemoney*1

      let manjianid = this.form.manjianid ? this.form.manjianid : 0;
      let discountid = this.form.discountid ? this.form.discountid : 0;
      if (this.form.alltotaldiscountmoney > 0) {
        http.post("/order/activtymoney.do", {
          ordersum: this.form.alltotaldiscountmoney,
          activtyid: manjianid,
          discountactivtyid: discountid
        }).then((result) => {
          if (result.status === 1) {
            this.form.computedtotal = result.ordersum;
          } else {
            this.$message.warning(result.msg);
          }
        }).catch(error => {
          this.$message.error(error);
        });
      } else {
        this.form.computedtotal = 0;
      }
    },
    submitOrder (formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          //产品
          let productData = {}
          if (!this.form.merchantdemoid) {
            productData = {
              merchantdemoid: 0,
              demomoney: 0,
              demodiscountmoney: 0,
              demoremark: ''
            }
          } else {
            productData = {
              merchantdemoid: this.form.merchantdemoid,
              demomoney: this.form.demomoney,
              demodiscountmoney: this.form.demodiscountmoney,
              demoremark: this.form.demoremark
            }
          }

          //婚车
          let carData = {}
          //头车和跟车都选择
            if (this.form.headmerchantvehicleid && this.form.tailmerchantvehicleid) {
              if (!/^[1-9][0-9]*$/.test(this.form.headmerchantvehiclenum)) {
                this.$message.warning('头车数量输入不合法');
                return
              } else if (!/^[1-9][0-9]*$/.test(this.form.tailmerchantvehiclenum)){
                this.$message.warning('跟车数量输入不合法');
                return
              } else if (!this.form.headtimeinterval) {
                this.$message.warning('请选择头车用车时段');
                return
              } else if (!this.form.tailtimeinterval) {
                this.$message.warning('请选择跟车用车时段');
                return
              } else if (!this.form.headcolor) {
                this.$message.warning('请选择头车颜色');
                return
              } else if (!this.form.tailcolor) {
                this.$message.warning('请选择跟车颜色');
                return
              }
              carData = {
                headcolor: this.form.headcolor,
                headmerchantvehicleid: this.form.headmerchantvehicleid,
                headmerchantvehiclemoney: this.form.headmerchantvehiclemoney,
                headmerchantvehiclediscountmoney: this.form.headmerchantvehiclediscountmoney,
                headmerchantvehiclenum: this.form.headmerchantvehiclenum,
                headtimeinterval: this.form.headtimeinterval,
                wreathprice: this.form.wreathprice,
                tailcolor: this.form.tailcolor,
                tailmerchantvehicleid: this.form.tailmerchantvehicleid,
                tailmerchantvehiclemoney: this.form.tailmerchantvehiclemoney,
                tailmerchantvehiclediscountmoney: this.form.tailmerchantvehiclediscountmoney,
                tailmerchantvehiclenum: this.form.tailmerchantvehiclenum,
                tailtimeinterval: this.form.tailtimeinterval,
                vehiclediscountmoney: this.form.vehiclediscountmoney,
                vehiclemoney: this.form.vehiclemoney
              }
            } else if (this.form.headmerchantvehicleid && !this.form.tailmerchantvehicleid) {
              //选择头车
              if (!/^[1-9][0-9]*$/.test(this.form.headmerchantvehiclenum)) {
                this.$message.warning('头车数量输入不合法');
                return
              } else if (!this.form.headtimeinterval) {
                this.$message.warning('请选择头车用车时段');
                return
              } else if (!this.form.headcolor) {
                this.$message.warning('请选择头车颜色');
                return
              }
              carData = {
                headcolor: this.form.headcolor,
                headmerchantvehicleid: this.form.headmerchantvehicleid,
                headmerchantvehiclemoney: this.form.headmerchantvehiclemoney,
                headmerchantvehiclediscountmoney: this.form.headmerchantvehiclediscountmoney,
                headmerchantvehiclenum: this.form.headmerchantvehiclenum,
                headtimeinterval: this.form.headtimeinterval,
                wreathprice: this.form.wreathprice,
                tailcolor: 0,
                tailmerchantvehicleid: 0,
                tailmerchantvehiclemoney: 0,
                tailmerchantvehiclediscountmoney: 0,
                tailmerchantvehiclenum: 0,
                tailtimeinterval: 0,
                vehiclediscountmoney: this.form.vehiclediscountmoney,
                vehiclemoney: this.form.vehiclemoney
              }
            } else if (!this.form.headmerchantvehicleid && this.form.tailmerchantvehicleid) {
              //选择跟车
              if (!/^[1-9][0-9]*$/.test(this.form.tailmerchantvehiclenum)){
                this.$message.warning('跟车数量输入不合法');
                return
              } else if (!this.form.tailtimeinterval) {
                this.$message.warning('请选择跟车用车时段');
                return
              } else if (!this.form.tailcolor) {
                this.$message.warning('请选择跟车颜色');
                return
              }
              carData = {
                headcolor: 0,
                headmerchantvehicleid: 0,
                headmerchantvehiclemoney: 0,
                headmerchantvehiclediscountmoney: 0,
                headmerchantvehiclenum: 0,
                headtimeinterval: 0,
                wreathprice: 0,
                tailcolor: this.form.tailcolor,
                tailmerchantvehicleid: this.form.tailmerchantvehicleid,
                tailmerchantvehiclemoney: this.form.tailmerchantvehiclemoney,
                tailmerchantvehiclediscountmoney: this.form.tailmerchantvehiclediscountmoney,
                tailmerchantvehiclenum: this.form.tailmerchantvehiclenum,
                tailtimeinterval: this.form.tailtimeinterval,
                vehiclediscountmoney: this.form.vehiclediscountmoney,
                vehiclemoney: this.form.vehiclemoney
              }
            } else {
              carData = {
                headcolor: 0,
                headmerchantvehicleid: 0,
                headmerchantvehiclemoney: 0,
                headmerchantvehiclediscountmoney: 0,
                headmerchantvehiclenum: 0,
                headtimeinterval: 0,
                wreathprice: 0,
                tailcolor: 0,
                tailmerchantvehicleid: 0,
                tailmerchantvehiclemoney: 0,
                tailmerchantvehiclediscountmoney: 0,
                tailmerchantvehiclenum: 0,
                tailtimeinterval: 0,
                vehiclediscountmoney: 0,
                vehiclemoney: 0
              }
            }
          //司仪
          let emceeData = {}
          if (!this.form.emceeid) {
            emceeData = {
              emceeid: 0,
              emceemoney: 0,
              emceediscountmoney: 0,
              emceeremark: '',
              emceeimage: '',
            }
          } else {
            emceeData = {
              emceeid: this.form.emceeid,
              emceemoney: this.form.emceemoney,
              emceediscountmoney: this.form.emceediscountmoney,
              emceeremark: this.form.emceeremark,
              emceeimage: this.form.emceeimage,
            }
          }
          //跟妆
          let makeupData = {}
          if (!this.form.makeupid) {
            makeupData = {
              makeupid: 0,
              makeupmoney: 0,
              makeupdiscountmoney: 0,
              makeupremark: '',
              makeupimage: ''
            }
          } else {
            makeupData = {
              makeupid: this.form.makeupid,
              makeupmoney: this.form.makeupmoney,
              makeupdiscountmoney: this.form.makeupdiscountmoney,
              makeupremark: this.form.makeupremark,
              makeupimage: this.form.makeupimage
            }
          }

          //摄影
          let photographyData = {}
          if (!this.form.photographyid) {
            photographyData = {
              photographyid: 0,
              photographymoney: 0,
              photographynum: 0,
              photographydiscountmoney: 0,
              photographymoneytotal: 0,
              photographydiscountmoneytotal: 0,
              photographyremark: '',
              photographyimage: ''
            }
          } else {
            if (!/^[1-9][0-9]*$/.test(this.form.photographynum)) {
              this.$message.warning('请机位数量输入不合法');
              return
            } else {
              photographyData = {
                photographyid: this.form.photographyid,
                photographymoney: this.form.photographymoney,
                photographynum: this.form.photographynum,
                photographydiscountmoney: this.form.photographydiscountmoney,
                photographymoneytotal: this.form.photographymoneytotal,
                photographydiscountmoneytotal: this.form.photographydiscountmoneytotal,
                photographyremark: this.form.photographyremark,
                photographyimage: this.form.photographyimage
              }
            }
          }
          //折扣
          let manjianid = this.form.manjianid ? this.form.manjianid : 0;
          let discountid = this.form.discountid ? this.form.discountid : 0;

          let param = {
            ...productData,
            ...carData,
            ...emceeData,
            ...makeupData,
            ...photographyData,
            groomname: this.form.groomname,
            groomaccout: this.form.groomaccout,
            bridename: this.form.bridename,
            brideaccount: this.form.brideaccount,
            groomaddress: this.form.groomaddress,
            brideaddress: this.form.brideaddress,
            orderweddingdate: this.form.orderweddingdate,
            email: this.form.email,
            alltotaldiscountmoney: this.form.alltotaldiscountmoney,
            alltotalmoney: this.form.alltotalmoney,
            manjianid: manjianid,
            discountid: discountid,
            computedtotal: parseFloat(this.form.computedtotal),
            merchantid: this.uulogin.id,
          }
          // console.log(param)
          if (parseFloat(this.form.computedtotal) <= 0) {
            this.$message.warning('请您选择需要的订单项目');
          } else {
            http.post("/order/addorder.do", param)
            .then((result) => {
              if (result.status === 1) {
                this.$message.success(result.msg);
                this.$router.push('/order');
              } else {
                this.$message.warning(result.msg);
              }
            }).catch(error => {
              this.$message.error(error);
            });
          }
        }
      })
    },
    cancelOrder (formName) {
      this.$refs[formName].resetFields();
      this.form = {
        groomname: '',
        groomaccout: '',
        bridename: '',
        brideaccount: '',
        groomaddress: '',
        brideaddress: '',
        orderweddingdate: '',
        email: '',

        merchantdemoid: '',
        demomoney: 0,
        demodiscountmoney: 0,
        demoremark: '',

        headcolor: '',
        headcolorjson: [],
        headmerchantvehicleid: '',
        headmerchantvehiclemoney: '',
        headmerchantvehiclediscountmoney: '',
        headmerchantvehiclenum: '',
        headtimeinterval: 1,
        wreathprice: '',

        tailcolor: '',
        tailcolorjson: [],
        tailmerchantvehicleid: '',
        tailmerchantvehiclemoney: '',
        tailmerchantvehiclediscountmoney: '',
        tailmerchantvehiclenum: '',
        tailtimeinterval: 1,
        vehiclediscountmoney: 0,
        vehiclemoney: 0,
        vehicleremark: '',



        emceeid: '',
        emceemoney: 0,
        emceediscountmoney: 0,
        emceeremark: '',
        emceeimage: '',

        makeupid: '',
        makeupmoney: 0,
        makeupdiscountmoney: 0,
        makeupremark: '',
        makeupimage: '',

        photographyid: '',
        photographymoney: '',
        photographynum: '',
        photographydiscountmoney: '',
        photographymoneytotal: 0,
        photographydiscountmoneytotal: 0,
        photographyremark: '',
        photographyimage: '',

        alltotaldiscountmoney: 0,
        alltotalmoney: 0,
        computedtotal: 0,
        manjianid: '',
        discountid: ''
      }
      this.searchform = {
        emceestyletype: '',
        makeupstyletype: '',
        photographystyletype: ''
      },


      this.carsList = [];
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '../Home/index.scss';
.container-header {
  font-size: 16px;
}
.input-order {
  width: 300px;
}
.price-total {
  text-align: right;
  font-size: 14px;
  .price-discount {
    margin-right: 15px;
    color: #333;
  }
  .price-money {
    text-decoration: line-through;
    color: red;
    span {
      color: #333;
    }
  }
}
.time {
  font-size: 13px;
  color: #999;
}

.bottom {
  margin-top: 13px;
  line-height: 12px;
}

.button {
  padding: 0;
  float: right;
}

.image {
  width: 100%;
  display: block;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}
.menu-box {
  height: 300px;
  &::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
  }
  li {
    height: 25px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
.back-btn-box {
  width: 100px;
  height: 40px;
  position: absolute;
  left: -5px;
  top: 0;
}
</style>
