<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-30 23:05:41
 * @LastEditTime: 2019-08-26 17:52:54
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="page">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-s-data crumbs-i-right"></i>数据列表
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-table">
        <ul class="table-ul">
          <li class="table-li"
            v-for="(item, index) in tableData" :key="index"
            :class="{'table-li-active': current === index}"
            @click="handleEdit(index, item)"
          >
            <span class="li-span">{{item.name}}</span>
          </li>
          <li class="table-li" @click="handleAdd" :class="{'table-li-last': current === -100}">
            <i class="el-icon-plus add-icon"></i>
          </li>
        </ul>
      </div>
    </el-card>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <span v-if="current === -100 "><i class="el-icon-s-unfold crumbs-i-right"></i>新增产品</span>
          <span v-else><i class="el-icon-s-unfold crumbs-i-right"></i>产品信息</span>
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-form">
        <el-form ref="editform" :model="editform" label-width="120px" :rules="rules">
          <el-row>
            <el-col :span="24">
              <el-form-item label="产品名称" prop="name">
                <el-input
                  type="textarea"
                  :rows="2"
                  resize="none"
                  placeholder="请输入.."
                  v-model="editform.name"
                  maxlength="10"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="现价格" prop="discountmoney">
                <el-input v-model="editform.discountmoney" placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="原价格" prop="money">
                <el-input v-model="editform.money" placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="产品特色" prop="characteristic">
                <el-select v-model="editform.characteristic" placeholder="请选择" style="width: 100%">
                  <el-option
                    v-for="(item, index) in styleList" :key="index"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="6">
              <el-form-item label="产品视频" required>
                <UpVideo :path="editform.productmv" @upVideo="productVideo" @previewVideo="previewVideo"></UpVideo>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="产品描述" prop="introduction">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="editform.introduction"
                  maxlength="200"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="概述图片" required>
                <UpImages :fileList="editform.summarypc" @upImages="gotSummarypc"></UpImages>
                <div class="images-warn">
                  <p>图片建议比例：2:1</p>
                </div>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="主舞台图片" required>
                <UpImages :fileList="editform.stagepc" @upImages="gotStagepc"></UpImages>
                <div class="images-warn">
                  <p>图片建议比例：2:1</p>
                </div>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="主舞台参数" prop="stage">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入..多个参数时请用|隔开"
                  v-model="editform.stage"
                  maxlength="200"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="仪式通道图片" label-width="110px" required >
                <UpImages :fileList="editform.ceremonypc" @upImages="gotCeremonypc"></UpImages>
                <div class="images-warn">
                  <p>图片建议比例：2:1</p>
                </div>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="仪式通道参数" label-width="110px" prop="ceremony">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入..多个参数时请用|隔开"
                  v-model="editform.ceremony"
                  maxlength="200"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="签到台图片" required>
                <UpImages :fileList="editform.signpc" @upImages="gotSignpc"></UpImages>
                <div class="images-warn">
                  <p>图片建议比例：2:1</p>
                </div>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="签到台参数" prop="sign">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入..多个参数时请用|隔开"
                  v-model="editform.sign"
                  maxlength="200"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="迎宾台图片" required>
                <UpImages :fileList="editform.guestspc" @upImages="gotGuestspc"></UpImages>
                <div class="images-warn">
                  <p>图片建议比例：2:1</p>
                </div>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="迎宾台参数" prop="guests">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入..多个参数时请用|隔开"
                  v-model="editform.guests"
                  maxlength="200"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="舞台灯图片" required>
                <UpImages :fileList="editform.lamppc" @upImages="gotLamppc"></UpImages>
                <div class="images-warn">
                  <p>图片建议比例：2:1</p>
                </div>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="舞台灯参数" prop="lamp">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入..多个参数时请用|隔开"
                  v-model="editform.lamp"
                  maxlength="200"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="其他特色图片" label-width="110px">
                <UpImages :fileList="editform.brightspotpc" @upImages="gotBrightspotpc"></UpImages>
                <div class="images-warn">
                  <p>图片建议比例：2:1</p>
                </div>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="其他特色参数" label-width="110px" prop="brightspot">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入..多个参数时请用|隔开"
                  v-model="editform.brightspot"
                  maxlength="200"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row v-if="current === -100">
            <el-col :span="24" style="text-align: center">
              <el-button type="primary" @click="saveAdd('editform')">确认新增</el-button>
              <el-button type="danger" @click="resetForm">重置</el-button>
            </el-col>
          </el-row>
          <el-row v-else>
            <el-col :span="24" style="text-align: center">
              <el-button type="primary" @click="confirmEidt">确认修改</el-button>
              <el-button type="danger" @click="handleDel">删除数据</el-button>
            </el-col>
          </el-row>
        </el-form>
      </div>
    </el-card>
    <!-- 编辑提示框 -->
    <el-dialog title="提示" :visible.sync="editVisible" width="30%" center>
      <div class="del-dialog-cnt" style="text-align: center">是否确定要进行编辑修改？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveEdit('editform')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 删除提示框 -->
    <el-dialog title="提示" :visible.sync="delVisible" width="30%" center>
      <div class="del-dialog-cnt" style="text-align: center">删除不可恢复，是否确定删除？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="delVisible = false">取 消</el-button>
        <el-button type="primary" @click="deleteRow">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 播放视频 -->
    <el-dialog :visible.sync="videoVisible">
      <div v-show="!checkvideo">您的浏览器不支持video播放</div>
      <video :src="mvpath" class="preview-video" controls controlslist="nodownload" loop id="myvideo"></video>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
import UpVideo from '@/components/common/Upload/upSingleVideo.vue'
import UpImages from '@/components/common/Upload/upListImage.vue'
export default {
  data () {
    let validateNumber = (rule, value, callback) => {
      if (!value) {
        callback(new Error('不能为空'));
      } else {
        if (!/^[1-9][0-9]*$/.test(value)) {
          callback(new Error('输入不合法'));
        } else {
          callback();
        }
      }
    };
    return {
      tableData: [],
      current: -100,
      rowData: {},
      delVisible: false,
      editVisible: false,
      editform: {
        name: '',
        characteristic: '',
        money: '',
        discountmoney: '',
        introduction: '',
        stage: '',
        ceremony: '',
        sign: '',
        guests: '',
        lamp: '',
        brightspot: '',
        productmv: '',
        summarypc: [],
        stagepc: [],
        ceremonypc: [],
        signpc: [],
        guestspc: [],
        brightspotpc: [],
        lamppc: []
      },
      rules: {
        name: [{ required: true, message: "不能为空", trigger: "blur" }],
        characteristic: [{ required: true, message: "不能为空", trigger: "change" }],
        money: [{ validator: validateNumber, required: true,  trigger: "blur" }],
        discountmoney: [{ validator: validateNumber, required: true,  trigger: "blur" }],
        introduction: [{ required: true, message: "不能为空", trigger: "blur" }],
        stage: [{ required: true, message: "不能为空", trigger: "blur" }],
        ceremony: [{ required: true, message: "不能为空", trigger: "blur" }],
        sign: [{ required: true, message: "不能为空", trigger: "blur" }],
        guests: [{ required: true, message: "不能为空", trigger: "blur" }],
        lamp: [{ required: true, message: "不能为空", trigger: "blur" }]
      },
      styleList: [],
      mvpath: '',
      checkvideo: true,
      videoVisible: false
    }
  },
  watch: {

  },
  computed: {
    ...mapState([
      'uulogin'
    ])
  },
  created () {
    this.styleData();
    this.submitData();
  },
  mounted () {
    this.$nextTick(() => {
      //判断是否支持video
      if (!!document.createElement('video').canPlayType) {
        this.checkvideo = true;
      } else {
        this.checkvideo = false;
      }
    })
  },
  beforeDestroy () {

  },
  components: {
    UpVideo,
    UpImages
  },
  methods: {
    submitData() {
      http.post("/merchant/productitemlist.do", {
        id: this.uulogin.id
      }).then((result) => {
        if (result.status === 1) {
          this.tableData = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    resetForm () {
      this.current = -100;
      this.$refs.editform.resetFields();
      this.editform = {
        name: '',
        characteristic: '',
        money: '',
        discountmoney: '',
        introduction: '',
        stage: '',
        ceremony: '',
        sign: '',
        guests: '',
        lamp: '',
        brightspot: '',
        productmv: '',
        summarypc: [],
        stagepc: [],
        ceremonypc: [],
        signpc: [],
        guestspc: [],
        brightspotpc: [],
        lamppc: []
      };
    },
    checkForm () {
      if (!this.editform.productmv) {
        this.$message.warning('产品视频不能为空');
         return false
      }
      if (!this.editform.stagepc.length) {
        this.$message.warning('主舞台图片不能为空');
         return false
      }
      if (!this.editform.summarypc.length) {
        this.$message.warning('概述图片不能为空');
         return false
      }
      if (!this.editform.signpc.length) {
        this.$message.warning('签到图片不能为空');
         return false
      }
      if (!this.editform.guestspc.length) {
        this.$message.warning('迎宾图片不能为空');
         return false
      }
      if (!this.editform.lamppc.length) {
        this.$message.warning('灯光图片不能为空');
         return false
      }
      if (!this.editform.ceremonypc.length) {
        this.$message.warning('仪式通道图片不能为空');
        return false
      }
      return true
    },
    handleAdd () {
      this.resetForm();
    },
    saveAdd(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
         this.checkForm()
         if (!this.checkForm()) {
           return
         }
         if (parseInt(this.editform.money) < parseInt(this.editform.discountmoney)) {
            this.$message.warning('原价格不能小于现价格');
            return
         }
         let param = {
          merchantid: this.uulogin.id,
          name: this.editform.name,
          characteristic: this.editform.characteristic,
          money: this.editform.money,
          discountmoney: this.editform.discountmoney,
          introduction: this.editform.introduction,
          design: this.editform.design,
          stage: this.editform.stage,
          ceremony: this.editform.ceremony,
          sign: this.editform.sign,
          guests: this.editform.guests,
          lamp: this.editform.lamp,
          brightspot: this.editform.brightspot,
          productmv: this.editform.productmv,
          stagepcjson: JSON.stringify(this.editform.stagepc),
          ceremonypcjson: JSON.stringify(this.editform.ceremonypc),
          summarypcjson: JSON.stringify(this.editform.summarypc),
          signpcjson: JSON.stringify(this.editform.signpc),
          guestspcjson: JSON.stringify(this.editform.guestspc),
          brightspotpcjson: JSON.stringify(this.editform.brightspotpc),
          lamppcjson: JSON.stringify(this.editform.lamppc)
        }
        http.post("/merchant/addproduct.do", param)
         .then((result) => {
            if (result.status === 1) {
              this.$message.success(result.msg);
              setTimeout(() => {
                this.submitData();
                this.resetForm();
              }, 20)
            } else {
              this.$message.warning(result.msg);
            }
          })
          .catch(error => {
            this.$message.error(error);
          });
        }
      });
    },
    handleEdit(index, row) {
      this.current = index;
      this.$refs.editform.resetFields();
      http.post("/merchant/productiteminfo.do", {
        id: row.id
      }).then((result) => {
        if (result.status === 1) {
          let data = result.data;
          if (data.labelid) {
            this.editform = data;
          } else {
            this.editform = {
              ...data,
              labelid: 0
            };
          }
          this.rowData = data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    confirmEidt () {
      this.editVisible = true;
    },
    saveEdit(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
         if (!this.checkForm()) {
           return
         }
         if (parseInt(this.editform.money) < parseInt(this.editform.discountmoney)) {
            this.$message.warning('原价格不能小于现价格');
            return
         }
         let param = {
          id: this.editform.id,
          name: this.editform.name,
          characteristic: this.editform.characteristic,
          money: this.editform.money,
          discountmoney: this.editform.discountmoney,
          introduction: this.editform.introduction,
          design: this.editform.design,
          stage: this.editform.stage,
          ceremony: this.editform.ceremony,
          sign: this.editform.sign,
          guests: this.editform.guests,
          lamp: this.editform.lamp,
          brightspot: this.editform.brightspot,
          productmv: this.editform.productmv,
          stagepcjson: JSON.stringify(this.editform.stagepc),
          ceremonypcjson: JSON.stringify(this.editform.ceremonypc),
          summarypcjson: JSON.stringify(this.editform.summarypc),
          signpcjson: JSON.stringify(this.editform.signpc),
          guestspcjson: JSON.stringify(this.editform.guestspc),
          brightspotpcjson: JSON.stringify(this.editform.brightspotpc),
          lamppcjson: JSON.stringify(this.editform.lamppc)
        }
         http.post("/merchant/updateproductitem.do", param)
          .then((result) => {
            if (result.status === 1) {
              this.$message.success(result.msg)
              setTimeout(() => {
                this.submitData();
                this.resetForm();
              }, 20);
              this.editVisible = false;
            } else {
              this.$message.warning(result.msg);
            }
          })
          .catch(error => {
            this.$message.error(error);
          });
        }
      });
    },
    handleDel() {
      this.delVisible = true;
    },
    deleteRow() {
      http.post("/merchant/delproductitem.do", {
        id: this.rowData.id
      }).then((result) => {
        if (result.status === 1) {
          this.$message.success(result.msg);
          setTimeout(() => {
            this.submitData();
            this.resetForm();
          }, 20);
          this.delVisible = false;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    modelVideo (value) {
      this.editform.modelmv = value;
    },
    previewVideo (value) {
      this.videoVisible = true;
      this.mvpath = value;
      this.$nextTick(() => {
        document.getElementById('myvideo').load();
        document.getElementById('myvideo').play();
      })
    },
    productVideo (value) {
      this.editform.productmv = value;
    },
    designVideo (value) {
      this.editform.designmv = value;
    },
    gotSummarypc (value) {
      this.editform.summarypc = value;
    },
    gotStagepc (value) {
      this.editform.stagepc = value;
    },
    gotCeremonypc (value) {
      this.editform.ceremonypc = value;
    },
    gotSignpc (value) {
      this.editform.signpc = value;
    },
    gotGuestspc (value) {
      this.editform.guestspc = value;
    },
    gotBrightspotpc (value) {
      this.editform.brightspotpc = value;
    },
    gotLamppc (value) {
      this.editform.lamppc = value;
    },
    gotLevelapc (value) {
      this.editform.levelapc = value;
    },
    gotLevelbpc (value) {
      this.editform.levelbpc = value;
    },
    gotLevelcpc (value) {
      this.editform.levelcpc = value;
    },
    styleData () {
      //产品特色
      http.post("/type/Productcharacteristicstype.do")
      .then((result) => {
        if (result.status === 1) {
          this.styleList = result.data
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '../Home/index.scss'
</style>
