<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-08-20 00:26:49
 * @LastEditTime: 2019-08-26 21:02:34
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="page">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <span ><i class="el-icon-s-unfold crumbs-i-right"></i>商家建议</span>
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-form" style="min-height: 440px">
        <el-form ref="form" :model="form" label-width="100px" :rules="rules">
          <el-row>
            <el-col :span="24">
              <el-form-item label="建议内容" prop="text">
                <el-input
                  type="textarea"
                  :rows="15"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.text"
                  maxlength="600"
                  show-word-limit
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24" style="text-align: center;margin-top: 50px;">
              <el-button type="primary" @click="saveAdd('form')">确认提交</el-button>
              <el-button type="danger" @click="resetForm">重置</el-button>
            </el-col>
          </el-row>
        </el-form>
      </div>
    </el-card>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
export default {
  data () {
    return {
      form: {
        text: ''
      },
      rules: {
        text: [{ required: true, message: "不能为空", trigger: "blur" }]
      }
    }
  },
  watch: {

  },
  computed: {
    ...mapState([
      'uulogin'
    ])
  },
  created () {

  },
  mounted () {},
  beforeDestroy () {},
  components: {

  },
  methods: {
    resetForm () {
      this.current = -100;
      this.$refs.form.resetFields();
      this.form = {
        text: ''
      };
    },
    handleAdd () {
      this.resetForm();
    },
    saveAdd(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          let param = {
            merchantid: this.uulogin.id,
            text: this.form.text
          }
         http.post("/feedback/addfeedback.do", param)
         .then((result) => {
              if (result.status === 1) {
                this.$message.success(result.msg);
                setTimeout(() => {
                  this.resetForm();
                }, 20)
              } else {
                this.$message.warning(result.msg);
              }
            })
            .catch(error => {
              this.$message.error(error);
            });
        }
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '../Home/index.scss';
.box-card {
  margin-bottom: 20px;
  .type-ul {
    height: 50px;
    width: 100%;
    display: flex;
    .type-li {
      flex: 1;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background: #909399;
      color: #fff;
      letter-spacing: 2px;
      font-size: 16px;
      &.type-li-active {
        background: #409EFF;
      }
    }
  }
}
</style>
